

<div class="complex-table">

    <h3 class="complex-table-heading"> {{params.heading}}</h3>

    {% if params.description %}
    <p class="complex-table-description"></p>
    {% endif %}

    <table class="complex-table">

        <caption class="sr-only">{{params.heading}}</caption>

        <thead>
            <tr class="complex-table-header">
                {% for heading in params.columns %}
                    <th scope="col" >{{heading.title}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in fundingsources %}
            <tr class="complex-table-row">
               <td class="">{{row.Bureau}}</td>
               <td class="">{{row.Program_Name}}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>