---
layout: layout.njk
title: ESRI Infrastructure Header
---
{% from './_includes/_components.njk' import filtercard, button  %}


{{
    filtercard({
        heading:"Federal Guidance Updates",
        cards:[
            {
                category:"IRA",
                agency:"Internal Revenue Service (IRS)",
                title:"Treasury Sets Out Proposed Rules for Transformative Clean Hydrogen Incentives",
                link:"https://www.whitehouse.gov/cleanenergy/clean-energy-updates/2023/12/22/treasury-sets-out-proposed-rules-for-transformative-clean-hydrogen-incentives/",
                description:"On December 22nd, the Treasury Department and IRS published a Notice of Public Rulemaking (NPRM) setting forth guidance for claiming the §45V Clean Hydrogen Production Tax Credit established under last year’s Inflation Reduction Act.",
                date:"Dec 22, 2023" 
            }
            
        ]
    })
}}




<h3 class="filtercard-heading">Older Infrastructure News</h3>
{{
    button({
        buttons:[
            {
                type: "button",
                title: "December 2023 Announcements",
                toggle: "true",
                id:"dec23a"
                 
            },
            {
                type: "button",
                title: "December 2023 Federal Guidance Updates",
                toggle: "true",
                id:"dec23b"
                 
            }
        ]
    })
}}


<div class="collapse" id="dec23a">
{{
    filtercard({
        heading:"December 2023 Announcements",
        cards:[
             {
                category:"IRA",
                agency:"Housing and Urban Development (HUD)",
                title:"Biden-Harris Administration Announces $174 Million to Support Energy Efficiency and Climate Resilience for Thousands of Low-Income Households as Part of Investing in America Agenda",
                link:"https://www.hud.gov/press/press_releases_media_advisories/HUD_No_23_284",
                description:"",
                date:"Dec 21, 2023" 
            },
             {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Announces $8 Million Awarded to New York State Under Inflation Reduction Act to Reduce Methane Emissions From Oil and Gas Wells",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-8-million-awarded-new-york-state-under-inflation-reduction-act",
                description:"",
                date:"Dec 21, 2023" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration Selects Fordham University to Receive $50 Million to Fund Environmental Justice Projects Across EPA Region 2 as Part of Investing in America Agenda",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-selects-fordham-university-receive-50-million-fund",
                description:"",
                date:"Dec 20, 2023" 
            },
            {
                category:"BIL",
                agency:"Department of Transportation (DOT)",
                title:"Biden-Harris Administration Invests $66 Million in Bipartisan Infrastructure Law Funding for Airport Improvements Across the Country",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-invests-66-million-bipartisan-infrastructure-law-funding",
                description:"",
                date:"Dec 19, 2023" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Thruway Authority Award to Develop Comprehensive Safety Action Plan to Improve Roadway Safety",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-thruway-authority-award-develop-comprehensive-safety-action-plan",
                description:"",
                date:"Dec 18, 2023" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces New York’s First National Electric Vehicle Infrastructure Funded Fast Charging Station Now Operating in the Hudson Valley",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-new-yorks-first-national-electric-vehicle-infrastructure-funded-fast",
                description:"",
                date:"Dec 15, 2023" 
            },
            {
                category:"BIL",
                agency:"Department of Transportation (DOT)",
                title:"Biden-Harris Administration Celebrates Opening of Nation’s First NEVI-Funded EV Charging Stations in Ohio and New York",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-celebrates-opening-nations-first-nevi-funded-ev-charging",
                description:"",
                date:"Dec 15, 2023" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration Announces $350 Million to 14 States to Reduce Methane Emissions from Oil and Gas Sector as Part of Investing in America Agenda",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-350-million-14-states-reduce-methane-emissions",
                description:"",
                date:"Dec 15, 2023" 
            },
            {
                category:"BIL",
                agency:"White House",
                title:"Biden-⁠Harris Administration Takes Action to Accelerate America’s Clean Transportation Future",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2023/12/14/fact-sheet-biden-harris-administration-takes-action-to-accelerate-americas-clean-transportation-future/",
                description:"",
                date:"Dec 14, 2023" 
            },
            {
                category:"BIL",
                agency:"Department of Transportation (DOT)",
                title:"Biden-Harris Administration Investing in Hundreds of American Communities to Improve Safety and Prevent Roadway Deaths",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-investing-hundreds-american-communities-improve-safety",
                description:"",
                date:"Dec 13, 2023" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Announces New $45 Million Apprenticeship and Pre-Apprenticeship Clean Energy Training Initiative",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-new-45-million-apprenticeship-and-pre-apprenticeship-clean-energy",
                description:"",
                date:"Dec 12, 2023" 
            },
            {
                category:"BIL",
                agency:"White House",
                title:"President Biden Announces Billions to Deliver World-Class High-Speed Rail and Launch New Passenger Rail Corridors Across the Country",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2023/12/08/fact-sheet-president-biden-announces-billions-to-deliver-world-class-high-speed-rail-and-launch-new-passenger-rail-corridors-across-the-country/",
                description:"",
                date:"Dec 08, 2023" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency",
                title:"Biden-Harris Administration Announces Major Grant to Recruit and Train Harlem, New York Workers for Community Revitalization and Cleanup Projects as Part of Investing in America Agenda",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-major-grant-recruit-and-train-harlem-new-york",
                description:"",
                date:"Dec 08, 2023" 
            },
            {
                category:"BIL",
                title:"Governor Hochul Announces $164 Million for Local Water Infrastructure Projects",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-164-million-local-water-infrastructure-projects",
                date: "Dec 07, 2023",
                agency:"Governor"
            },
            {
                category:"BIL",
                title:"Governor Hochul Announces $100 Million in Federal Funding Now Available for High-speed Broadband Infrastructure Through Affordable Housing Connectivity Program",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-100-million-federal-funding-now-available-high-speed-broadband",
                date: "Dec 06, 2023",
                agency:"Governor"
            },
            {
                category:"BIL",
                title:"Biden Administration Announces More Than $300 Million Available to Make Transit Stations Accessible for All",
                link:"https://www.transportation.gov/briefing-room/biden-administration-announces-more-300-million-available-make-transit-stations",
                date: "Dec 01, 2023",
                agency:"Department of Transportation (DOT)"
            }
        ]
    })
}}
</div>

<div class="collapse" id="dec23b">
{{
    filtercard({
        heading:"December 2023 Federal Guidance Updates",
        cards:[
            {
                category:"BIL",
                agency:"Department of Transportation (DOT)",
                title:"Biden-Harris Administration Opens Applications for Over $9 Billion in Funding to Modernize Nation’s Bridges",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-opens-applications-over-9-billion-funding-modernize",
                description:"On December 20th, the U.S. Department of Transportation’s Federal Highway Administration announced today that it has opened applications for $9.7 billion in multi-year (FY2023 through FY2026) funding to improve the nation’s bridges.",
                date:"Dec 20, 2023" 
            },
            {
                category:"BIL",
                agency:"Department of Energy (DOE)",
                title:"Biden-Harris Administration Announces $40 Million to Train the Clean Energy Workforce",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-40-million-train-clean-energy-workforce",
                description:"On December 20th, the Department of Energy announced that it would begin accepting applications for the Energy Auditor Training program (EAT), which will provide up to $40 million in grants for states to train individuals to conduct energy audits or surveys of commercial and residential buildings",
                date:"Dec 20, 2023" 
            },
            {
                category:"BIL",
                agency:"Department of Homeland Security (DHS)",
                title:"Biden-Harris Administration Announces $150 Million to Help Underserved Communities Receive Low-Interest Loans for Resilience Projects",
                link:"https://www.fema.gov/press-release/20231219/biden-harris-administration-announces-150-million-help-underserved",
                description:"On December 19th, FEMA announced the opening of the second funding opportunity for the Safeguarding Tomorrow Revolving Loan Fund (RLF) grant program to make communities safer from natural hazards.",
                date:"Dec 19, 2023" 
            },
            {
                category:"IRA",
                agency:"Internal Revenue Service (IRS)",
                title:"Treasury Issues Proposed Guidance to Drive Advanced Clean Energy Manufacturing and Secure, Resilient Energy Supply Chains",
                link:"https://www.whitehouse.gov/cleanenergy/clean-energy-updates/2023/12/14/treasury-issues-proposed-guidance-to-drive-advanced-clean-energy-manufacturing-and-secure-resilient-energy-supply-chains/",
                description:"On December 14th, the Department of the Treasury issued a Notice of Proposed Rulemaking (NPRM) proposing rules for claiming the §45X Advanced Manufacturing Production Tax Credit (PTC), an incentive created by the Inflation Reduction Act (IRA).",
                date:"Dec 14, 2023" 
            },
            {
                category:"BIL",
                agency:"department of energy (doe)",
                title:"Department of Energy Releases Proposed Interpretive Guidance on Foreign Entity of Concern for Public Comment",
                link:"https://www.energy.gov/articles/department-energy-releases-proposed-interpretive-guidance-foreign-entity-concern-public",
                description:"On December 1st, the U.S. Department of Energy released a notice of its proposed guidance and a request for public comment on its proposed interpretation of the statutory definition of “foreign entity of concern” (FEOC) in the Bipartisan Infrastructure Law, which is designed to limit the participation of FEOCs within government-supported domestic battery supply chains and bolster the growth of domestic and friend-shored battery materials processing and manufacturing.",
                date:"Dec 1, 2023" 
            },
            {
                category:"IRA",
                agency: "Internal Revenue Service (IRS)",
                title:"Treasury, IRS provide guidance for those who manufacture new clean vehicles",
                link:"https://www.irs.gov/newsroom/treasury-irs-provide-guidance-for-those-who-manufacture-new-clean-vehicles",
                description:"On December 1st, Department of the Treasury and the Internal Revenue Service issued two items of guidance on the excluded entity restriction of the section 30D clean vehicle credit, as amended by the Inflation Reduction Act.",
                date:"Dec 1, 2023" 
            }
        ]
        

    })
}}
</div>