---
layout: render-layout.njk
---
{% from './_includes/_components.njk' import card %}

<style>
{% include './_includes/card/_cards.css'  %}
</style>


{{
    card({
        heading:"National Electric Vehicle Infrastructure (NEVI)",
        intro: "The NEVI Program, established through the Bipartisan Infrastructure Law, will provide New York with more than $175 million over 5 years to help establish a seamless network of fast chargers across the State. ",
        cards:[
            {
                title:"NEVI and New York ",
                link:"https://www.nyserda.ny.gov/All-Programs/ChargeNY/Charge-Electric/Charging-Station-Programs/National-Electric-Vehicle-Infrastructure-Program ",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/0c5314e294e1421abe1bed50701f1808/data",
                imagealt:"electric vehicle charger that reads EVolve NY"
            },
            {
                title:"Find Your Nearest EV Charging Station ",
                link:"https://afdc.energy.gov/fuels/electricity_locations.html#/find/nearest?fuel=ELEC ",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/a29346ba2a544eb7bb6f1065a8be8f0d/data",
                imagealt:"electric vehicle chargers in a row"
            }
        ]
    })
}}


{{
    card({
        heading:"Water Infrastructure and State Revolving Funds",
        intro: "Through the Environmental Bond Act and State Revolving Funds supported by the federal government, New York is investing hundreds of millions of dollars in critical water infrastructure projects to ensure New Yorkers have access to safe and clean drinking water all over the State. ",
        cards:[
            {
                title:"Clean Water Grants ",
                link:"https://nysefc.maps.arcgis.com/apps/webappviewer/index.html?id=a235c2a5cec647b39b1a1cff91a097b8",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/67355cf5ed97408e82681c953f1a60e0/data",
                imagealt:"map of new york state"
            },
            {
                title:"Drinking Water Grants ",
                link:"https://www.health.ny.gov/environmental/water/drinking/water.htm#iup ",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/4c3b9cf53197432196a8a9a6ecb14209/data",
                imagealt:"a water pipe being installed"
            },
            {
                title:"Request a Meeting with the Community Assistance Teams ",
                link:"https://efc.ny.gov/form/community-assistance-teams-reque ",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/5622b08e238b48e39d7d25eca29a17e9/data",
                imagealt:"a forestry worker"
            }
        ]
    })
}}

{{
    card({
        heading:"ConnectALL: Broadband Program ",
        intro: "Through the ConnectALL program, New York is investing more than $1 billion to ensure that all New Yorkers have access to broadband internet services. ",
        cards:[
            {
                title:"ConnectALL Program Overview ",
                link:"https://broadband.ny.gov/about-connectall",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/25b7bc7f6dc042daa5557c3f079bdfc5/data",
                imagealt:"kids looking at a tablet computer"
            },
            {
                title:"NYS Broadband Map ",
                link:"https://mapmybroadband.dps.ny.gov/ ",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/87f12044635443faa2e92ea89c845030/data",
                imagealt:"new york state broadband map"
            }
        ]
    })
}}

{{
    card({
        heading:"Environmental Bond Act",
        intro: "In 2022, New Yorkers overwhelmingly approved a ballot measure leading to the passage of the Environmental Bond Act, which is driving more than $4.2 billion of investments in clean water, reducing pollution, and protecting communities from harmful effects of climate change. ",
        cards:[
            {
                title:"Program Overview and Priorities ",
                link:"https://www.ny.gov/programs/clean-water-clean-air-and-green-jobs-environmental-bond-act",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/35dfef8850b34788a1e9ed5cc681e5df/data",
                imagealt:"a tranquil view of a lake in summer"
            },
            {
                title:"Funding Opportunities and Program Updates ",
                link:"https://www.ny.gov/clean-water-clean-air-and-green-jobs-environmental-bond-act/news-funding-updates#news ",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/4c80e993c6be49c99ea1c113b7c0b9a3/data",
                imagealt:"a water treatment plant"
            },
            {
                title:"Watch Virtual Listening Sessions ",
                link:"https://www.ny.gov/clean-water-clean-air-and-green-jobs-environmental-bond-act/listening-tour-resources ",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/e4a7f75bd1d64b65978e56fe6aaa6808/data",
                imagealt:"a beach"
            }
        ]
    })
}}

{{
    card({
        heading:"Environmental Justice",
        intro: "Underserved communities are disproportionately harmed by the effects of climate change and pollution. New York’s steadfast commitment to environmental justice ensures that these communities benefit from the historic investments that the State is making in climate and the environment. ",
        cards:[
            {
                title:"Climate Justice Working Group ",
                link:"https://climate.ny.gov/Resources/Climate-Justice-Working-Group ",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/41a31459f3ff44bfbc1b9cff35bf79b7/data",
                imagealt:"people working to plant a garden"
            },
            {
                title:"Disadvantaged Communities Criteria  ",
                link:"https://climate.ny.gov/Resources/Disadvantaged-Communities-Criteria ",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/aadd1c7ab27940369f6a799a9b06a3ed/data",
                imagealt:"a map of new york state showing Disadvantaged communities"
            },
            {
                title:"EPA EJ Thriving Communities Technical Assistance Centers Program ",
                link:"https://www.weact.org/tctac/ ",
                image:"https://sharegisny-hub.maps.arcgis.com/sharing/rest/content/items/b21d4adfbb5542f0806597caf65dddb0/data",
                imagealt:"families sitting enjoying a park"
            }
        ]
    })
}}