---
layout: render-layout.njk
---
{% from './_includes/_components.njk' import filtercard , button  %}

{# <style>
{% include './_includes/button/_button.css'  %}
{% include './_includes/filtercard/_filtercards.css'  %}
</style> #}




<h3 class="filtercard-heading">Older Infrastructure News</h3>
{{
    button({
        buttons:[
            {
                type: "button",
                title: "Announcements",
                toggle: "true",
                id:"announcements"
                 
            },
            {
                type: "button",
                title: "Federal Guidance Updates",
                toggle: "true",
                id:"fedguidance"
                 
            }
        ]
    })
}}


<div class="collapse" id="announcements">
{{
    filtercard({
        heading:"Archive Announcements",
        archive: true,
        cards:[
            {
                category:"",
                agency:"The White House",
                title:"FACT SHEET: Biden-⁠Harris Administration’s Progress Creating a Future Made in America",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/07/24/fact-sheet-biden-harris-administrations-progress-creating-a-future-made-in-america/",
                date:"Jul 24, 2024" 
            },
            {
                category:"",
                agency:"Governor",
                title:"Governor Hochul Requests Federal Emergency Declaration to Support Response and Recovery Operations Following Severe Weather on July 15 and 16",
                link:"https://www.governor.ny.gov/news/governor-hochul-requests-federal-emergency-declaration-support-response-and-recovery",
                date:"Jul 20, 2024" 
            },
            {
                category:"",
                agency:"The White House",
                title:"Catalyzing American Innovation in Climate Resilience",
                link:"https://www.whitehouse.gov/ceq/news-updates/2024/07/25/catalyzing-american-innovation-in-climate-resilience/",
                date:"Jul 25, 2024" 
            },
            {
                category:"BIL",
                agency:"Internet For All",
                title:"Biden-Harris Administration Opens Applications for $1 Billion Digital Inclusion Grant Program",
                link:"https://www.internetforall.gov/news-media/biden-harris-administration-opens-applications-1-billion-digital-inclusion-grant-0",
                date:"Jul 24, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces More Than $374 Million in Grants to Improve Airports ",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-more-374-million-grants-improve-airports",
                date:"Jul 26, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Start of $17.8 Million Rehabilitation Project on the Callicoon Bridge",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-start-178-million-rehabilitation-project-callicoon-bridge",
                date:"Jul 22, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Completion of $28.5 Million Project to Rehabilitate Bridges Along the Staten Island Expressway",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-completion-285-million-project-rehabilitate-bridges-along-staten",
                date:"Jul 22, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Environmental Protection Agency",
                title:"Biden-Harris Administration Announces $4.3 Billion in Grants for Community-Driven Solutions to Cut Climate Pollution Across America",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-43-billion-grants-community-driven-solutions-cut",
                date:"Jul 22, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Invests $371 Million in 20 Projects to Accelerate Transmission Permitting Across America",
                link:"https://www.energy.gov/articles/biden-harris-administration-invests-371-million-20-projects-accelerate-transmission",
                date:"Jul 24, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Agriculture",
                title:"Biden-Harris Administration announces $190M grant opportunity for payment programs that help private forest landowners address climate change",
                link:"https://www.usda.gov/media/press-releases/2024/07/25/biden-harris-administration-announces-190m-grant-opportunity",
                date:"Jul 25, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Announces More Than $7.1 Million in Urban and Community Forestry Grants to 23 Projects Statewide",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-more-71-million-urban-and-community-forestry-grants-23-projects",
                date:"Jul 25, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Environmental Protection Agency",
                title:"EPA Announces $3 Million for Community-Driven Solutions to Cut Climate Pollution Across the Hudson Valley in New York",
                link:"https://www.epa.gov/newsreleases/epa-announces-3-million-community-driven-solutions-cut-climate-pollution-across-hudson",
                date:"Jul 22, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Environmental Protection Agency",
                title:"EPA Announces Nearly $1 Million to Support Involving South Bronx Communities in Climate Resiliency Planning",
                link:"https://www.epa.gov/newsreleases/epa-announces-nearly-1-million-support-involving-south-bronx-communities-climate",
                date:"Jul 25, 2024" 
            },
            {
                category:"",
                agency:"U.S. Department of Housing and Urban Development",
                title:"Biden-Harris Administration Invests $325 Million in Housing and Community Development Improvements",
                link:"https://www.hud.gov/press/press_releases_media_advisories/HUD_No_24_182",
                date:"Jul 16, 2024" 
            },
            {
                category:"",
                agency:"Governor",
                title:"Governor Hochul Celebrates $50 Million Federal Choice Neighborhoods Grant to Support Up to 1,400 New Homes in Syracuse",
                link:"https://www.governor.ny.gov/news/governor-hochul-celebrates-50-million-federal-choice-neighborhoods-grant-support-1400-new",
                date:"Jul 16, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces $5 Billion to Restore, Reconstruct, and Repair Nationally Significant Large Bridges Across the Country",
                link:"https://www.transportation.gov/briefing-room/investing-america-biden-harris-administration-announces-5-billion-restore-reconstruct",
                date:"Jul 17, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Agriculture",
                title:"Biden-Harris Administration Announces $90 Million in Innovative Projects that Help Conserve Natural Resources and Address Climate Change as Part of Investing in America Agenda",
                link:"https://www.usda.gov/media/press-releases/2024/07/18/biden-harris-administration-announces-90-million-innovative",
                date:"Jul 18, 2024" 
            },
            {
                category:"BIL",
                agency:"National Oceanic and Atmospheric Administration (NOAA)",
                title:"Biden-Harris Administration announces nearly $220 million for transformational habitat restoration and coastal resilience projects",
                link:"https://www.noaa.gov/news-release/biden-harris-administration-announces-nearly-220-million-for-transformational-habitat-restoration",
                date:"Jul 18, 2024" 
            },
            {
                category:"BIL",
                agency:"National Oceanic and Atmospheric Administration (NOAA)",
                title:"Biden-Harris administration invests $27 million to support community-driven marine debris solutions through Investing in America agenda",
                link:"https://www.noaa.gov/news-release/biden-harris-administration-invests-27-million-to-support-community-driven-marine-debris-solutions",
                date:"Jul 18, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Environmental Protection Agency",
                title:"EPA Seeks Community Input on Proposed Cleanup Plan for Eighteen Mile Creek Superfund Site in Niagara County, NY",
                link:"https://www.epa.gov/newsreleases/epa-seeks-community-input-proposed-cleanup-plan-eighteen-mile-creek-superfund-site",
                date:"Jul 19, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Start of $26.1 Million Flood Mitigation Project in Westchester County",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-start-261-million-flood-mitigation-project-westchester-county",
                date:"Jul 15, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Award of Fourth Construction Contract for Transformative I-81 Viaduct Project in City of Syracuse",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-award-fourth-construction-contract-transformative-i-81-viaduct",
                date:"Jul 19, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Environmental Protection Agency",
                title:"EPA Announces $20.4 Million to Support Clean U.S. Manufacturing of Construction Materials Across New York, New Jersey, and Puerto Rico",
                link:"https://www.epa.gov/newsreleases/epa-announces-204-million-support-clean-us-manufacturing-construction-materials-across",
                date:"Jul 16, 2024" 
            },
            {
                category:"IRA",
                agency:"The White House",
                title:"CEQ Releases Recommendations on Digital Tools to Modernize Environmental Reviews, Increase Transparency and Accessibility of Federal Permitting",
                link:"https://www.whitehouse.gov/ceq/news-updates/2024/07/17/ceq-releases-recommendations-on-digital-tools-to-modernize-environmental-reviews-increase-transparency-and-accessibility-of-federal-permitting/",
                date:"Jul 17, 2024" 
            },
            {
                category:"",
                agency:"Governor",
                title:"Governor Hochul Announces Approval of New York’s Nation-Leading Six Gigawatts Energy Storage Roadmap",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-approval-new-yorks-nation-leading-six-gigawatts-energy-storage",
                date:"Jun 20, 2024" 
            },
            {
                category:"",
                agency:"Governor",
                title:"Governor Hochul Announces $32 Million Now Available for Shared Electric Transportation Solutions",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-32-million-now-available-shared-electric-transportation-solutions",
                date:"Jun 21, 2024" 
            },
            
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces $300 Million Investment to Make Water Infrastructure Projects Affordable Across New York State",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-300-million-investment-make-water-infrastructure-projects-affordable",
                date:"Jun 20, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces $97.7 Million to Support Enhancement of Alternative Transportation Options in Local Communities",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-977-million-support-enhancement-alternative-transportation-options",
                date:"Jun 20, 2024" 
            },
            
            {
                category:"IRA",
                agency:"Department of Energy",
                title:"DOE and EPA Announce $850 Million to Reduce Methane Pollution from the Oil and Gas Sector",
                link:"https://www.energy.gov/articles/doe-and-epa-announce-850-million-reduce-methane-pollution-oil-and-gas-sector",
                date:"Jun 21, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. General Services Administration",
                title:"GSA Administrator announces $80 million for smart building technologies as part of Biden-Harris Administration’s Investing in America agenda",
                link:"https://www.gsa.gov/about-us/newsroom/news-releases/gsa-administrator-announces-80-million-for-smart-06202024",
                date:"Jun 20, 2024" 
            },
            
            {
                category:"IRA",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Announces Rules to Create Good-Paying, High-Quality Clean Energy Jobs",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/06/18/fact-sheet-biden-harris-administration-announces-historic-rules-to-create-good-paying-high-quality-clean-energy-jobs/",
                date:"Jun 18, 2024" 
            },
            {
                category:"",
                agency:"Department of Energy",
                title:"DOE Announces $900 Million to Accelerate the Deployment of Next-Generation Light-Water Small Modular Reactors",
                link:"https://www.energy.gov/articles/doe-announces-900-million-accelerate-deployment-next-generation-light-water-small-modular",
                date:"Jun 17, 2024" 
            },
            {
                category:"",
                agency:"Joint Office of Energy and Transportation",
                title:"Behind-the-Meter Generation and Storage Offer Cost- and Energy-Efficient Route to Bus Electrification in New York, Potentially Saving $2 Million Each Year",
                link:"https://driveelectric.gov/news/mta-case-study",
                date:"Jun 13, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Treasury",
                title:"U.S. Department of the Treasury Announces More Than $1 Billion in Upfront Savings for Consumers on Electric Vehicle Sales",
                link:"https://home.treasury.gov/news/press-releases/jy2403",
                date:"Jun 12, 2024" 
            },
            {
                category:"BIL",
                agency:"Joint Office of Energy and Transportation",
                title:"Joint Office of Energy and Transportation and Linux Foundation Energy to Advance Electric Vehicle Charging Interoperability with EVerest Open-Source Platform",
                link:"https://driveelectric.gov/news/everest-open-source-platform",
                date:"Jun 11, 2024" 
            },
            {
                category:"",
                agency:"Governor",
                title:"Governor Hochul and Mayor Adams Announce Start of Construction on Transformation of South Brooklyn Marine Terminal Into Nation’s Largest Offshore Wind Hub",
                link:"https://www.governor.ny.gov/news/governor-hochul-and-mayor-adams-announce-start-construction-transformation-south-brooklyn",
                date:"Jun 10, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Unveils Application Guidelines for More Than $11 Million in ConnectALL Funding to Expand Broadband Access Ahead of Application Launch Later This Month",
                link:"https://www.governor.ny.gov/news/governor-hochul-unveils-application-guidelines-more-11-million-connectall-funding-expand",
                date:"Jun 06, 2024" 
            },
            {
                category:"IRA",
                agency:"The White House",
                title:"White House Holds Convening on Used Electric Vehicles and IRA’s 25E Tax Credit",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/06/05/readout-of-white-house-convening-on-used-electric-vehicles/",
                date:"Jun 05, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Housing and Urban Development",
                title:"HUD Finalizes Deal to Promote Energy Efficiency and Climate Resilience for New York Families",
                link:"https://www.hud.gov/press/press_releases_media_advisories/HUD_No_24_138",
                date:"Jun 05, 2024" 
            },
            {
                category:"",
                agency:"National Oceanic and Atmospheric Administration (NOAA)",
                title:"Biden-Harris Administration designates new national marine sanctuary in New York State",
                link:"https://www.noaa.gov/news-release/biden-harris-administration-designates-new-national-marine-sanctuary-in-new-york-state",
                date:"Jun 05, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Sends Every State Funding for Commercial Motor Vehicle Safety",
                link:"https://www.transportation.gov/briefing-room/part-dots-push-bring-traffic-deaths-zero-biden-harris-administration-sends-every",
                date:"Jun 03, 2024" 
            },
            {
                category:"BIL",
                agency:"Federal Communications Commission",
                title:"FCC Brings Affordable Connectivity Program to a Close",
                link:"https://docs.fcc.gov/public/attachments/DOC-402930A1.pdf",
                date:"May 31, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Highlights Over $120 Million for Local Water Infrastructure Projects Across New York State",
                link:"https://www.governor.ny.gov/news/governor-hochul-highlights-over-120-million-local-water-infrastructure-projects-across-new",
                date:"May 23, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces Nearly $10.5 Million Funding Opportunity to Plan Housing Near Transit",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-nearly-105-million-funding-opportunity-plan",
                date:"May 23, 2024" 
            },
            {
                category:"BIL",
                agency:"Joint Office of Energy and Transportation",
                title:"Joint Office of Energy and Transportation Releases Q2 2024 NEVI Quarterly Update",
                link:"https://driveelectric.gov/news/q2-2024-quarterly-nevi-update",
                date:"May 23, 2024" 
            },
            {
                category:"IRA",
                agency:"National Oceanic and Atmospheric Administration (NOAA)",
                title:"Biden-Harris Administration awards $20 million for regional fishery management council projects as part of Investing in America agenda",
                link:"https://www.noaa.gov/news-release/biden-harris-administration-awards-20-million-for-regional-fishery-management-council-projects",
                date:"May 21, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration Announces More Than $300 Million in Brownfield Grants Through Investing in America Agenda to Rehabilitate and Revitalize Communities",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-more-300-million-brownfield-grants-through",
                date:"May 20, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces LIRR Copiague Station Now Fully Accessible",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-lirr-copiague-station-now-fully-accessible",
                date:"May 16, 2024" 
            },
            {
                category:"IRA",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Takes Action to Strengthen American Solar Manufacturing and Protect Manufacturers and Workers from China’s Unfair Trade Practices",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/05/16/fact-sheet-biden-harris-administration-takes-action-to-strengthen-american-solar-manufacturing-and-protect-manufacturers-and-workers-from-chinas-unfair-trade-practices/",
                date:"May 16, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. General Services Administration",
                title:"Biden-Harris Administration officials tout federal progress on spurring clean construction materials as part of Investing in America agenda",
                link:"https://www.gsa.gov/about-us/newsroom/news-releases/bidenharris-administration-officials-tout-federal-05162024",
                date:"May 16, 2024" 
            }, 
            {
                category:"",
                agency:"Governor",
                title:"Governor Hochul Announces Nearly $300 Million Investment in Climate Resiliency During Major Address at The Vatican",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-nearly-300-million-investment-climate-resiliency-during-major",
                date:"May 16, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Funding Awarded to New York Under Federal Thriving Communities Program",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-funding-awarded-new-york-under-federal-thriving-communities-program",
                date:"May 15, 2024" 
            },
            {
                category:"",
                agency:"Governor",
                title:"Governor Hochul Announces $14.7 Million to Strengthen New York’s Food Supply Chain Infrastructure Through Partnership With U.S. Department of Agriculture",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-147-million-strengthen-new-yorks-food-supply-chain-infrastructure",
                date:"May 15, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"The Biden-⁠Harris Administration Highlights Investments in Rural America, Invites Public Nominations for Rural Innovators Initiative",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/05/14/fact-sheet-the-biden-harris-administration-highlights-investments-in-rural-america-invites-public-nominations-for-rural-innovators-initiative/",
                date:"May 14, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Agriculture",
                title:"Biden-Harris Administration Invests $250M to Reduce Wildfire Risk to Communities across State, Private, and Tribal lands as part of Investing in America agenda",
                link:"https://www.usda.gov/media/press-releases/2024/05/14/biden-harris-administration-invests-250m-reduce-wildfire-risk",
                date:"May 14, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces $5.3 Million Investment in Iconic Douglass-Anthony Memorial Bridge in Rochester",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-53-million-investment-iconic-douglass-anthony-memorial-bridge",
                date:"May 14, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Introduces 60 New Electric Buses to Operate in Queens, Staten Island and Brooklyn",
                link:"https://www.governor.ny.gov/news/governor-hochul-introduces-60-new-electric-buses-operate-queens-staten-island-and-brooklyn",
                date:"May 14, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Kicks Off Infrastructure Week by Highlighting Historic Results Spurred by President Biden’s Investing in America Agenda",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/05/13/fact-sheet-biden-harris-administration-kicks-off-infrastructure-week-by-highlighting-historic-results-spurred-by-president-bidens-investing-in-america-agenda/",
                date:"May 13, 2024" 
            },
            {
                category:"",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces New Climate and Transportation Research Center",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-new-climate-and-transportation-research-center",
                date:"May 13, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Treasury",
                title:"U.S. Department of the Treasury, IRS Announce Application Opening Date and Increased Available Capacity for Second Year of Program to Spur Clean Energy Investments and Lower Energy Costs in Underserved Communities",
                link:"https://home.treasury.gov/news/press-releases/jy2334",
                date:"May 13, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency",
                title:"EPA and New York State Break Ground on Project to Ensure Clean Drinking Water for Hicksville, N.Y. Households",
                link:"https://www.epa.gov/newsreleases/epa-and-new-york-state-break-ground-project-ensure-clean-drinking-water-hicksville-ny",
                date:"May 13, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Completion of Megaproject to Upgrade Metro-North Railroad’s Maintenance and Operations Hub at Croton-on-Hudson",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-completion-megaproject-upgrade-metro-north-railroads-maintenance-and",
                date:"May 10, 2024" 
            },
            {
                category:"BIL",
                agency:"Joint Office of Energy and Transportation",
                title:"States Submit Data to New Joint Office Electric Vehicle Charging Analytics and Reporting Tool",
                link:"https://driveelectric.gov/news/ev-chart-tool-launched",
                date:"May 07, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"DOE’s U-Finder Tool Helps Find Local Utilities to Support Transportation Electrification",
                link:"https://driveelectric.gov/news/u-finder-tool",
                date:"May 06, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces Initial List of High-Priority Areas for Accelerated Transmission Expansion",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-initial-list-high-priority-areas-accelerated",
                date:"May 08, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Announces $3 Billion to Replace Toxic Lead Pipes and Deliver Clean Drinking Water to Communities Across the Country",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/05/02/fact-sheet-biden-harris-administration-announces-3-billion-to-replace-toxic-lead-pipes-and-deliver-clean-drinking-water-to-communities-across-the-country/",
                date:"May 02, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Environmental Protection Agency",
                title:"New York to Get Over $129 Million for Lead Pipe Replacement to Advance Safe Drinking Water  ",
                link:"https://www.epa.gov/newsreleases/new-york-get-over-129-million-lead-pipe-replacement-advance-safe-drinking-water",
                date:"May 02, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Calls for Extension of Affordable Connectivity Program as Program Enters Its Final Month",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/05/01/fact-sheet-biden-harris-administration-continues-to-call-on-congressional-republicans-and-internet-service-providers-to-keep-americans-connected-as-the-affordable-connectivity-program-enters-final-mo/",
                date:"May 01, 2024" 
            }
           
        ]
    })
}}
</div>

<div class="collapse" id="fedguidance">
{{
    filtercard({
        heading:"Archive Federal Guidance Updates",
        archive: true,
        cards:[
             {
                category:"IRA",
                agency:"U.S. Department of the Treasury",
                title:"U.S. Department of the Treasury, IRS Release Final Rules to Ensure Good-Paying Clean Energy Jobs, Expand Clean Energy Workforce As Part of President Biden’s Investing in America Agenda",
                link:"https://home.treasury.gov/news/press-releases/jy2413",
                description:"On June 18, the U.S. Department of the Treasury and the Internal Revenue Service (IRS) released final rules on prevailing wage and registered apprenticeship (PWA) requirements in the Inflation Reduction Act.",
                date:"Jun 18, 2024" 
            },
            {
                category:"IRA",
                agency:"Internal Revenue Service",
                title:"Treasury, IRS release guidance for the Energy Community Bonus Credit under the Inflation Reduction Act",
                link:"https://www.irs.gov/newsroom/treasury-irs-release-guidance-for-the-energy-community-bonus-credit-under-the-inflation-reduction-act",
                description:"On June 7, US Treasury and the IRS released guidance that taxpayers and Elective Pay participants may use to determine whether they meet certain requirements for purposes of qualifying for the Energy Community Bonus Credit.",
                date:"Jun 7, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Treasury",
                title:"U.S. Department of the Treasury, IRS Release Additional Guidance to Boost American Clean Energy Manufacturing",
                link:"https://home.treasury.gov/news/press-releases/jy2344",
                description:"On May 16, the U.S. Department of the Treasury and Internal Revenue Service (IRS) released additional guidance on the IRA’s domestic content bonus, part of President Biden’s economic strategy to boost American manufacturing and iron and steel production, so American workers and companies can continue to build the clean energy economy.",
                date:"May 16, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"FRA Makes More Than $2 Billion in New Funding Available to Continue Improving America’s Busiest Passenger Rail Corridor",
                link:"https://www.transportation.gov/briefing-room/fra-makes-more-2-billion-new-funding-available-continue-improving-americas-busiest",
                description:"On May 14, U.S. DOT’s Federal Railroad Administration (FRA) released a funding opportunity that makes available over $2 billion in Federal-State Partnership for Intercity Passenger Rail Program funding for projects located on the Northeast Corridor.",
                date:"May 14, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"Department of Energy Releases Final Interpretive Guidance on the Definition of Foreign Entity of Concern",
                link:"https://www.energy.gov/articles/doe-releases-final-interpretive-guidance-definition-foreign-entity-concern",
                description:"On May 3, the U.S. Department of Energy (DOE) finalized its guidance interpreting the statutory definition of “foreign entity of concern” (FEOC) in Section 40207 of the Bipartisan Infrastructure Law (BIL)",
                date:"May 03, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces Final Transmission Permitting Rule and Latest Investments To Accelerate the Build Out of a Resilient, Reliable, Modernized Electric Grid",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-final-transmission-permitting-rule-and-latest",
                description:"On April 25, the DOE issued a final rule to establish the Coordinated Interagency Transmission Authorizations and Permits (CITAP) Program, which aims to significantly improve Federal environmental reviews and permitting processes for qualifying transmission projects.",
                date:"Apr 25, 2024" 
            },
            {
                category:"IRA",
                agency:"Internal Revenue Service",
                title:"IRS releases final guidance on transfers of certain credits under the Inflation Reduction Act",
                link:"https://www.irs.gov/newsroom/irs-releases-final-guidance-on-transfers-of-certain-credits-under-the-inflation-reduction-act",
                description:"On April 25, the Department of Treasury and Internal Revenue Service issued final regulations describing rules and definitions for the transfer of eligible credits in a taxable year, including specific rules for partnerships and S corporations.",
                date:"Apr 25, 2024" 
            },
            {
                category:"BIL",
                agency:"Federal Transit Administration (FTA)",
                title:"Biden-Harris Administration Announces Availability of $316 Million to Modernize Ferry Service and Better Connect Rural Communities",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-availability-316-million-modernize-ferry",
                description:"On April 17th, U.S. DOT’s Federal Transit Administration (FTA) announced the availability of $316 million to support and modernize passenger ferry service in communities across the country.",
                date:"Apr 17, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Interior",
                title:"Interior Department Finalizes Action to Ensure Fair Return to Taxpayers, Strengthen Accountability for Oil and Gas Operations on Public Lands",
                link:"https://www.doi.gov/pressreleases/interior-department-finalizes-action-ensure-fair-return-taxpayers-strengthen",
                description:"On April 12th, the Department of the Interior announced a final rule to revise the Bureau of Land Management’s (BLM) oil and gas leasing regulations, which will ensure a balanced approach to development, provide a fair return to taxpayers, and help keep drilling activities from conflicting with the protection of important wildlife habitat or cultural sites.",
                date:"Apr 12, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Agriculture",
                title:"USDA Makes $1.5 Billion Available to Help Farmers Advance Conservation and Climate-Smart Agriculture as Part of President Biden’s Investing in America Agenda",
                link:"https://www.usda.gov/media/press-releases/2024/04/03/usda-makes-15-billion-available-help-farmers-advance-conservation",
                description:"On April 3rd, the USDA announced the availability of an historic $1.5 billion in funding for Fiscal Year 2024 to invest in partner-driven conservation and climate solutions through the Regional Conservation Partnership Program (RCPP). ",
                date:"Apr 03, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"FRA Makes More Than $2.4 Billion in CRISI Grant Funding Available to Improve America’s Freight and Intercity Passenger Rail Network",
                link:"https://www.transportation.gov/briefing-room/fra-makes-more-24-billion-crisi-grant-funding-available-improve-americas-freight-and",
                description:"On March 29th, Federal Railroad Administration (FRA) issued a Notice of Funding Opportunity that makes available over $2.4 billion in Consolidated Rail Infrastructure and Safety Improvements (CRISI) Program funding.",
                date:"Mar 29, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Opens Applications for More than $5 Billion in Funding for Significant National Infrastructure Projects",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-opens-applications-more-5-billion-funding-significant",
                description:"On March 28th, the Department of Transportation announced that it is now accepting applications for approximately $5.1 billion in funding for projects of regional or national significance for three major discretionary grant programs",
                date:"Mar 28, 2024" 
            }
        ]
    })
}}
</div>