---
layout: render-layout.njk
---
{% from './_includes/_components.njk' import filtercard , button  %}

{# <style>
{% include './_includes/button/_button.css'  %}
{% include './_includes/filtercard/_filtercards.css'  %}
</style> #}




<h3 class="filtercard-heading">Older Infrastructure News</h3>
{{
    button({
        buttons:[
            {
                type: "button",
                title: "Announcements",
                toggle: "true",
                id:"announcements"
                 
            },
            {
                type: "button",
                title: "Federal Guidance Updates",
                toggle: "true",
                id:"fedguidance"
                 
            }
        ]
    })
}}


<div class="collapse" id="announcements">
{{
    filtercard({
        heading:"Archive Announcements",
        archive: true,
        cards:[
            {
                category:"BIL",
                agency:"Federal Communications Commission (FCC)",
                title:"FCC Issues Formal Notice That April Is Final Full Month of ACP Program",
                link:"https://www.fcc.gov/document/fcc-issues-formal-notice-april-final-full-month-acp-program",
                date:"Mar 04, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Sends Another $9.9 Billion from the Bipartisan Infrastructure Law to Transit Agencies Across the Country",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-sends-another-99-billion-bipartisan-infrastructure-law",
                date:"Feb 29, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration announces over $1 billion to start new cleanup projects and continue work at 100 Superfund sites across the country",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-over-1-billion-start-new-cleanup-projects-and",
                date:"Feb 27, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency (EPA)",
                title:"EPA Announces Bipartisan Infrastructure Law Funds for Cleanups at Two Superfund Sites in New York",
                link:"https://www.epa.gov/newsreleases/epa-announces-bipartisan-infrastructure-law-funds-cleanups-two-superfund-sites-new",
                date:"Feb 27, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Interior",
                title:"Interior Department Announces $195 Million for America’s National Parks through President Biden’s Investing in America Agenda",
                link:"https://www.doi.gov/pressreleases/interior-department-announces-195-million-americas-national-parks-through-president",
                date:"Feb 27, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency (EPA)",
                title:"EPA expands its water technical assistance program to help more communities access historic federal infrastructure funding",
                link:"https://www.epa.gov/newsreleases/epa-expands-its-water-technical-assistance-program-help-more-communities-access-0",
                description:"",
                date:"Feb 22, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"US DOT Opens Applications for $18 Million in Funding Opportunities to Support Hazardous Materials Transportation and Pipeline Safety Activities Nationwide",
                link:"https://www.transportation.gov/briefing-room/usdot-opens-applications-18-million-funding-opportunities-support-hazardous-materials",
                description:"",
                date:"Feb 21, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Announces Nearly $6 Billion for Clean Drinking Water and Wastewater Infrastructure as Part of Investing in America Tour",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/02/20/fact-sheet-biden-harris-administration-announces-nearly-6-billion-for-clean-drinking-water-and-wastewater-infrastructure-as-part-of-investing-in-america-tour/",
                description:"",
                date:"Feb 20, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration announces $420 million for New York water infrastructure upgrades as part of President Biden’s Investing in America agenda",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-420-million-new-york-water-infrastructure-1",
                description:"",
                date:"Feb 20, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Agriculture (USDA)",
                title:"Biden-Harris Administration Announces $500 Million to Confront the Wildfire Crisis as Part of Investing in America Agenda",
                link:"https://www.usda.gov/media/press-releases/2024/02/20/biden-harris-administration-announces-500-million-confront-wildfire",
                description:"",
                date:"Feb 20, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Advancement of Historic Kensington Expressway Project to Reconnect East Buffalo Communities",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-advancement-historic-kensington-expressway-project-reconnect-east",
                description:"",
                date:"Feb 16, 2024" 
            },
            {
                category:"BIL",
                agency:"Joint Office of Energy and Transportation",
                title:"Joint Office Issues Q1 2024 NEVI Progress Update",
                link:"https://driveelectric.gov/news/nevi-update-q1",
                description:"",
                date:"Feb 16, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Awards $166 Million in Grants to 187 Water Quality Projects Across the State",
                link:"https://www.governor.ny.gov/news/governor-hochul-awards-166-million-grants-187-water-quality-projects-across-state",
                description:"",
                date:"Feb 15, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces Nearly $1 Billion in Grants from the Bipartisan Infrastructure Law to Improve 114 Airports Across the U.S.",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-nearly-1-billion-grants-bipartisan",
                description:"",
                date:"Feb 15, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Highlights Over $49 Million for Local Water Infrastructure Projects Across New York State",
                link:"https://www.governor.ny.gov/news/governor-hochul-highlights-over-49-million-local-water-infrastructure-projects-across-new-york",
                description:"",
                date:"Feb 15, 2024" 
            },
            {
                category:"IRA",
                agency:"The White House",
                title:"Lowering Home Energy Costs Through President Biden’s Inflation Reduction Act",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/02/12/fact-sheet-lowering-home-energy-costs-through-president-bidens-inflation-reduction-act/",
                description:"",
                date:"Feb 12, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Start of $161 Million Project to Rehabilitate Seven Bridges Along Grand Central Parkway in Queens",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-start-161-million-project-rehabilitate-seven-bridges-along-grand",
                description:"",
                date:"Feb 09, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of the Interior",
                title:"Biden-Harris Administration Announces More Than $157 Million from Investing in America Agenda to Restore Our Nation’s Lands and Waters",
                link:"https://www.doi.gov/pressreleases/biden-harris-administration-announces-more-157-million-investing-america-agenda",
                description:"",
                date:"Feb 08, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"White House Hosts Roundtable on Clean Bus Manufacturing",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/02/08/readout-of-white-house-roundtable-on-clean-bus-manufacturing/",
                description:"",
                date:"Feb 08, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"As Affordable Connectivity Program Hits Milestone of Providing Affordable High-Speed Internet To 23 Million Households Nationwide, Biden-⁠Harris Administration Calls on Congress to Extend Its Funding",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/02/06/fact-sheet-as-affordable-connectivity-program-hits-milestone-of-providing-affordable-high-speed-internet-to-23-million-households-nationwide-biden-harris-administration-calls-on-congress-t/",
                description:"",
                date:"Feb 06, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Completion of $124 Million Project to Rehabilitate Key Viaduct Along Van Wyck Expressway in Queens",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-completion-124-million-project-rehabilitate-key-viaduct-along-van",
                description:"",
                date:"Feb 06, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Energy",
                title:"Biden-Harris Administration Announces Nearly $72 Million in Largest Single Investment to Support America’s Hydropower Facilities",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-nearly-72-million-largest-single-investment-support",
                description:"",
                date:"Feb 02, 2024" 
            },
            {
                category:"BIL",
                agency:"Federal Communications Commission",
                title:"Enrollment Freeze to Commence Next Week for Affordable Connectivity Program",
                link:"https://docs.fcc.gov/public/attachments/DOC-400238A1.pdf",
                description:"",
                date:"Feb 01, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Launches First Open Gangway Train Into Service and Announces 1,000 Subway Cars Now Have Cameras",
                link:"https://www.governor.ny.gov/news/governor-hochul-launches-first-open-gangway-train-service-and-announces-1000-subway-cars-now",
                description:"",
                date:"Feb 01, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces More Than $240 Million in Bipartisan Infrastructure Law Funding to Modernize Airports in 37 States",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-more-240-million-bipartisan-infrastructure-law",
                description:"",
                date:"Jan 30, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Heavy Construction Training Fair for New Yorkers Interested in Working on the I-81 Viaduct Project",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-heavy-construction-training-fair-new-yorkers-interested-working-i-81",
                description:"",
                date:"Jan 31, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"President Biden Announces Nearly $5 Billion for Major Transportation Projects Nationwide",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/01/25/fact-sheet-president-biden-announces-nearly-5-billion-for-major-transportation-projects-nationwide/",
                description:"",
                date:"Jan 25, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces $254 Million to Decarbonize America’s Industrial Sector and Revitalize Domestic Manufacturing",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-254-million-decarbonize-americas-industrial-sector",
                description:"",
                date:"Jan 25, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Unprecedented Investment to Revitalize Infrastructure in the Bronx",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-unprecedented-investment-revitalize-infrastructure-bronx",
                description:"",
                date:"Jan 25, 2024" 
            }
           
        ]
    })
}}
</div>

<div class="collapse" id="fedguidance">
{{
    filtercard({
        heading:"Archive Federal Guidance Updates",
        archive: true,
        cards:[
            {
                category:"BIL",
                agency:"U.S. Department of Transportation’s Federal Motor Carrier Safety Administration (FMCSA)",
                title:"Biden-Harris Administration Opens Applications for Over $180 Million in Safety Grants for Commercial Motor Vehicles",
                link:"https://www.fmcsa.dot.gov/newsroom/biden-harris-administration-opens-applications-over-180-million-safety-grants-commercial",
                description:"On March 4th, the U.S. Department of Transportation’s Federal Motor Carrier Safety Administration (FMCSA) announced the availability of more than $180 million in grants to promote roadway safety.",
                date:"Mar 04, 2024" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency",
                title:"Biden-Harris Administration invests $3B into clean ports as part of President Biden’s Investing in America agenda",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-invests-3b-clean-ports-part-president-bidens-investing",
                description:"On February 28th, Environmental Protection Agency announced the availability of $3 billion through the IRA’s Clean Ports Program to fund zero-emission port equipment and infrastructure to tackle the climate crisis and improve air quality at U.S. ports. The funding will advance environmental justice by reducing diesel pollution from U.S. ports in surrounding communities, all while creating good-paying jobs.",
                date:"Feb 28, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Energy (DOE) & U.S. Department of Agriculture (USDA)",
                title:"DOE, USDA Launch Initiative to Help Farmers Reduce Costs with Underutilized Renewable Technologies as part of President Biden’s Investing in America Agenda",
                link:"https://www.energy.gov/articles/doe-usda-launch-initiative-help-farmers-reduce-costs-underutilized-renewable-technologies",
                description:"On February 26th, the U.S. Department of Energy (DOE) and the U.S. Department of Agriculture (USDA) launched a new initiative to help farmers cut costs and increase income using underutilized renewable technologies including smaller-scale wind projects.",
                date:"Feb 26, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of the Interior (DOI)",
                title:"Interior Department Releases Draft Guidance for States to Access up to $1.5 Billion from President Biden’s Investing in America Agenda to Address Legacy Pollution",
                link:"https://www.doi.gov/pressreleases/interior-department-releases-draft-guidance-states-access-15-billion-president-bidens",
                description:"On February 23rd, the U.S. Department of the Interior today released draft guidance to states on how to apply for up to $30 million each in matching grant funding available under President Biden’s Bipartisan Infrastructure Law to create jobs and clean up polluting and unsafe orphaned oil and gas wells across the country.",
                date:"Feb 23, 2024" 
            }, 
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"U.S. Department of Transportation Announces $1.25 billion in Direct, Accessible Grants for Local Communities to Improve Roadway Safety",
                link:"https://www.transportation.gov/briefing-room/us-department-transportation-announces-125-billion-direct-accessible-grants-local",
                description:"On February 21st, the U.S. Department of Transportation announced the availability of $1.25 billion to improve road safety through the Safe Streets and Roads for All program. Cities, towns, counties, Tribal governments, and Metropolitan Planning Organizations are invited to appy for funds through the program.",
                date:"Feb 21, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Opens First Round of Applications for $250 Million to Reduce Traffic in Urban Areas",
                link:"https://highways.dot.gov/newsroom/biden-harris-administration-opens-first-round-applications-250-million-reduce-traffic",
                description:"On February 21st, the U.S. Department of Transportation announced a new Bipartisan Infrastructure Law program that makes $250 million available, over five years, in competitive grants to advance innovative, multimodal solutions to reduce vehicular traffic in the most congested metropolitan areas of the United States.",
                date:"Feb 21, 2024" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration announces nearly $83 million in funding to expand air quality monitoring across the nation as part of Investing in America agenda",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-nearly-83-million-funding-expand-air-quality-0",
                description:"On February 16th, the EPA announced the availability of $81 million in funding for eligible air agencies to expand and upgrade the nation's air quality monitoring networks. This funding is made available through the Inflation Reduction Act.",
                date:"Feb 16, 2024" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency (EPA)",
                title:"EPA seeks input on new program to label cleaner construction materials as part of President Biden’s Investing in America agenda",
                link:"https://www.epa.gov/newsreleases/epa-seeks-input-new-program-label-cleaner-construction-materials-part-president-bidens",
                description:"On February 15th, the Environmental Protection Agency (EPA) announced an opportunity for public input on the draft approach for implementing a $100 million Label Program for Low Embodied Carbon Construction Materials, which was made possible by President Biden’s Inflation Reduction Act.",
                date:"Feb 15, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy (DOE)",
                title:"Biden-Harris Administration Announces $63 Million to Accelerate Electric Heat Pump Manufacturing Across America as Part of Investing in America Agenda",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-63-million-accelerate-electric-heat-pump",
                description:"On February 14th, the U.S. Department of Energy (DOE) today announced the availability of $63 million in Inflation Reduction Act funding to accelerate the growth of domestic manufacturing of residential heat pumps, heat pump water heaters, and other heat pump systems and components.",
                date:"Feb 14, 2024" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency (EPA)",
                title:"EPA and DOE announce intent to fund projects to reduce methane emissions from the oil and natural gas sectors as part of President Biden’s Investing in America agenda",
                link:"https://www.epa.gov/newsreleases/epa-and-doe-announce-intent-fund-projects-reduce-methane-emissions-oil-and-natural-gas",
                description:"On February 9th, the Environmental Protection Agency (EPA) and the U.S. Department of Energy (DOE) announced a Notice of Intent (NOI) today to make funds available to help measure and reduce methane emissions from the oil and gas sectors.",
                date:"Feb 09, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces Availability of $1.5 Billion in Federal Funding to Modernize Bus Fleets and Deploy Clean Transit Buses Across America",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-availability-15-billion-federal-funding",
                description:"The U.S. Department of Transportation's Federal Transit Administration (FTA) today announced the availability of approximately $1.5. billion to support American transit vehicle manufacturing – including zero-emission buses – help build bus facilities, and promote workforce development.",
                date:"Feb 08, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Energy",
                title:"Biden-Harris Administration Requests Proposals to Expand and Modernize the Nation’s Electric Grid",
                link:"https://www.energy.gov/articles/biden-harris-administration-requests-proposals-expand-and-modernize-nations-electric-grid",
                description:"On February 6, the DOE announced a Request for Proposals (RFP) for the second round of the Transmission Facilitation Program, a revolving fund supported by the Bipartisan Infrastructure Law to help overcome financial hurdles facing large-scale new and upgraded transmission lines.",
                date:"Feb 06, 2024" 
            }
            
        ]
        

    })
}}
</div>