---
layout: layout.njk
title: News and Announcements
alias: /news
---
{% from './_includes/_components.njk' import filtercard , button  %}

{{
    filtercard({
        heading:"Announcements",
        archive: false,
        cards:[
            {
                category:"BIL",
                agency:"Joint Office of Energy and Transportation",
                title:"States Submit Data to New Joint Office Electric Vehicle Charging Analytics and Reporting Tool",
                link:"https://driveelectric.gov/news/ev-chart-tool-launched",
                date:"May 07, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"DOE’s U-Finder Tool Helps Find Local Utilities to Support Transportation Electrification",
                link:"https://driveelectric.gov/news/u-finder-tool",
                date:"May 06, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Completion of Megaproject to Upgrade Metro-North Railroad’s Maintenance and Operations Hub at Croton-on-Hudson",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-completion-megaproject-upgrade-metro-north-railroads-maintenance-and",
                date:"May 10, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces Initial List of High-Priority Areas for Accelerated Transmission Expansion",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-initial-list-high-priority-areas-accelerated",
                date:"May 08, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Announces $3 Billion to Replace Toxic Lead Pipes and Deliver Clean Drinking Water to Communities Across the Country",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/05/02/fact-sheet-biden-harris-administration-announces-3-billion-to-replace-toxic-lead-pipes-and-deliver-clean-drinking-water-to-communities-across-the-country/",
                date:"May 02, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Environmental Protection Agency",
                title:"New York to Get Over $129 Million for Lead Pipe Replacement to Advance Safe Drinking Water  ",
                link:"https://www.epa.gov/newsreleases/new-york-get-over-129-million-lead-pipe-replacement-advance-safe-drinking-water",
                date:"May 02, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Calls for Extension of Affordable Connectivity Program as Program Enters Its Final Month",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/05/01/fact-sheet-biden-harris-administration-continues-to-call-on-congressional-republicans-and-internet-service-providers-to-keep-americans-connected-as-the-affordable-connectivity-program-enters-final-mo/",
                date:"May 01, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces $12 Million in Infrastructure Improvements Underway in Onondaga County",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-12-million-infrastructure-improvements-underway-onondaga-county",
                date:"Apr 30, 2024" 
            },
            {
                category:"IRA",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Advances Permitting Measures to Build America’s Infrastructure and Clean Energy Future Faster, Safer, and Cleaner",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/04/30/fact-sheet-biden-harris-administration-delivers-on-permitting-progress-to-build-americas-infrastructure-and-clean-energy-future-faster-safer-and-cleaner/",
                date:"Apr 30, 2024" 
            },
            {
                category:"",
                agency:"The White House",
                title:"National Security Memorandum on Critical Infrastructure Security and Resilience",
                link:"https://www.whitehouse.gov/briefing-room/presidential-actions/2024/04/30/national-security-memorandum-on-critical-infrastructure-security-and-resilience/",
                date:"Apr 30, 2024" 
            },
            {
                category:"",
                agency:"Federal Highway Administration",
                title:"FHWA Highlights Efforts to Reduce Pollution, Combat Climate Change, and Improve Resiliency in Communities Nationwide",
                link:"https://highways.dot.gov/newsroom/fhwa-highlights-efforts-reduce-pollution-combat-climate-change-and-improve-resiliency",
                date:"Apr 29, 2024" 
            }
            
           
        ]
    })
}}

{{
    filtercard({
        heading:"Federal Guidance Updates",
        archive: false,
        cards:[
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"Department of Energy Releases Final Interpretive Guidance on the Definition of Foreign Entity of Concern",
                link:"https://www.energy.gov/articles/doe-releases-final-interpretive-guidance-definition-foreign-entity-concern",
                description:"On May 3, the U.S. Department of Energy (DOE) finalized its guidance interpreting the statutory definition of “foreign entity of concern” (FEOC) in Section 40207 of the Bipartisan Infrastructure Law (BIL)",
                date:"May 03, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces Final Transmission Permitting Rule and Latest Investments To Accelerate the Build Out of a Resilient, Reliable, Modernized Electric Grid",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-final-transmission-permitting-rule-and-latest",
                description:"On April 25, the DOE issued a final rule to establish the Coordinated Interagency Transmission Authorizations and Permits (CITAP) Program, which aims to significantly improve Federal environmental reviews and permitting processes for qualifying transmission projects.",
                date:"Apr 25, 2024" 
            },
            {
                category:"IRA",
                agency:"Internal Revenue Service",
                title:"IRS releases final guidance on transfers of certain credits under the Inflation Reduction Act",
                link:"https://www.irs.gov/newsroom/irs-releases-final-guidance-on-transfers-of-certain-credits-under-the-inflation-reduction-act",
                description:"On April 25, the Department of Treasury and Internal Revenue Service issued final regulations describing rules and definitions for the transfer of eligible credits in a taxable year, including specific rules for partnerships and S corporations.",
                date:"Apr 25, 2024" 
            }
            
        ]
    })
}}





<h3 class="filtercard-heading">Older Infrastructure News</h3>
{{
    button({
        buttons:[
            {
                type: "button",
                title: "Announcements",
                toggle: "true",
                id:"announcements"
                 
            },
            {
                type: "button",
                title: "Federal Guidance Updates",
                toggle: "true",
                id:"fedguidance"
                 
            }
        ]
    })
}}


<div class="collapse" id="announcements">
{{
    filtercard({
        heading:"Archive Announcements",
        archive: true,
        cards:[
             {
                category:"BIL",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Launches Conservation.gov, Showcasing and Supporting the Rapid Acceleration of Locally Led Efforts to Conserve, Protect and Restore Lands and Waters across America",
                link:"https://www.whitehouse.gov/ceq/news-updates/2024/04/19/biden-harris-administration-launches-conservation-gov-showcasing-and-supporting-the-rapid-acceleration-of-locally-led-efforts-to-conserve-protect-and-restore-lands-and-waters-across-america/",
                date:"Apr 19, 2024" 
            },
            {
                category:"BIL",
                agency:"Federal Emergency Management Agency (FEMA)",
                title:"Biden-Harris Administration Announces $26 Million in Awards for the State Assistance Dam Safety Grant Program",
                link:"https://www.fema.gov/press-release/20240419/biden-harris-administration-announces-26-million-awards-state-assistance-dam",
                date:"Apr 19, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy (DOE)",
                title:"Biden-Harris Administration Announces First Projects Receiving Clean Energy Manufacturing Investments in America's Industrial and Energy Communities",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-first-projects-receiving-clean-energy-manufacturing",
                date:"Apr 19, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Announces Department of Energy Approval to Fund Energy Affordability Program for Low Income New Yorkers",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-department-energy-approval-fund-energy-affordability-program-low",
                date:"Apr 18, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy (DOE)",
                title:"Biden-Harris Administration Awards First State Funding and Announces Progress on Historic $8.8 Billion Home Energy Rebate Programs to Lower Utility Bills",
                link:"https://www.energy.gov/articles/biden-harris-administration-awards-first-state-funding-and-announces-progress-historic-88",
                date:"Apr 18, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Launches Grid of the Future Study to Build Clean and Resilient Electric Grid",
                link:"https://www.governor.ny.gov/news/governor-hochul-launches-grid-future-study-build-clean-and-resilient-electric-grid",
                date:"Apr 18, 2024" 
            },
            {
                category:"BIL",
                agency:"Federal Emergency Management Agency (FEMA)",
                title:"Biden-Harris Administration Announces up to $295 Million Available to Activated States Through FY23 Swift Current to Help Communities Withstand Impacts of Climate Change",
                link:"https://www.fema.gov/press-release/20240417/biden-harris-administration-announces-295-million-available-activated-states",
                date:"Apr 17, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Joint office of Energy and Transportation",
                title:"Biden-Harris Administration Invests $54 Million to Expand Clean Transportation Across American Communities",
                link:"https://driveelectric.gov/news/communities-taking-charge-accelerator-funding",
                date:"Apr 16, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Awards $23.6 Million to Help 112 Communities Deliver Transformative Infrastructure Improvements",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-awards-236-million-help-112-communities-deliver",
                date:"Apr 15, 2024" 
            },
            {
                category:"BIL",
                agency:"USDA Forest Service",
                title:"USDA Forest Service Invests More Than $232M to Support Schools, Roads, Other Services as Part of Investing in America Agenda",
                link:"https://www.usda.gov/media/press-releases/2024/04/12/usda-forest-service-invests-more-232m-support-schools-roads-other",
                date:"Apr 12, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Highlights $142 Million for Local Water Infrastructure Projects Across New York State",
                link:"https://www.governor.ny.gov/news/governor-hochul-highlights-142-million-local-water-infrastructure-projects-across-new-york",
                date:"Apr 11, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Interior",
                title:"Biden-Harris Administration Delivers Historic Milestones, New Actions for Clean Energy on Public Lands",
                link:"https://www.doi.gov/pressreleases/biden-harris-administration-delivers-historic-milestones-new-actions-clean-energy",
                date:"Apr 11, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces Nearly $830 Million in Grants to Make Transportation Infrastructure More Resilient to Climate Change",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-nearly-830-million-grants-make-transportation",
                date:"Apr 11, 2024" 
            },
            {
                category:"BIL",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Takes Critical Action to Protect Communities from PFAS Pollution in Drinking Water",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/04/10/fact-sheet-biden-harris-administration-takes-critical-action-to-protect-communities-from-pfas-pollution-in-drinking-water/",
                date:"Apr 10, 2024" 
            }, 
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces $148.3 million from Bipartisan Infrastructure Law to Fund Airport Projects in 28 States, Guam",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-1483-million-bipartisan-infrastructure-law-fund",
                date:"Apr 05, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Unveils $50 Million ConnectALL Digital Equity Plan to Close New York’s Digital Divide",
                link:"https://www.governor.ny.gov/news/governor-hochul-unveils-50-million-connectall-digital-equity-plan-close-new-yorks-digital",
                date:"Apr 05, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces $3.5 Million Available to Develop Grid Modernization Projects",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-35-million-available-develop-grid-modernization-projects",
                date:"Apr 05, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration to Provide $20.5 Billion in Federal Funding to Support Transit Systems, Boost Communities",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-provide-205-billion-federal-funding-support-transit",
                date:"Apr 04, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"U.S. Department of Transportation Announces Latest Step Toward Launching New Reconnecting Communities Institute",
                link:"https://www.transportation.gov/briefing-room/us-department-transportation-announces-latest-step-toward-launching-new-reconnecting",
                date:"Apr 04, 2024" 
            },
            {
                category:"BIL",
                agency:"National Telecommunications and Information Administration (NTIA) ",
                title:"New York’s Digital Equity Plan for Broadband Expansion Accepted by National Telecommunications and Information Administration",
                link:"https://www.internetforall.gov/news-media/new-yorks-digital-equity-plan-accepted",
                date:"Apr 04, 2024" 
            },
            {
                category:"IRA",
                agency:"The White House",
                title:"Biden-⁠Harris Administration Announces Historic $20 Billion in Awards to Expand Access to Clean Energy and Climate Solutions and Lower Energy Costs for Communities Across the Nation",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/04/04/biden-harris-administration-announces-historic-20-billion-in-awards-to-expand-access-to-clean-energy-and-climate-solutions-and-lower-energy-costs-for-communities-across-the-nation/",
                date:"Apr 04, 2024" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency",
                title:"EPA Launches New Website to Improve Transparency in Permitting",
                link:"https://www.epa.gov/newsreleases/epa-launches-new-website-improve-transparency-permitting",
                date:"Apr 02, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Energy",
                title:"DOE Releases First Ever Federal Blueprint to Decarbonize America’s Buildings Sector",
                link:"https://www.energy.gov/articles/doe-releases-first-ever-federal-blueprint-decarbonize-americas-buildings-sector",
                date:"Apr 02, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Energy",
                title:"Biden-Harris Administration Announces $4 Billion in Tax Credits to Build Clean Energy Supply Chain, Drive Investments, and Lower Costs in Energy Communities",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-4-billion-tax-credits-build-clean-energy-supply",
                date:"Mar 29, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces More Than 100 New Electric Vehicle Fast Chargers to be Built in New York City",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-more-100-new-electric-vehicle-fast-chargers-be-built-new-york-city",
                date:"March 28, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Announces $20 Million from Bipartisan Infrastructure Law to Modernize 20 Small and Regional Airport Traffic Control Towers Across the U.S.",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-20-million-bipartisan-infrastructure-law-0",
                date:"Mar 21, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Announces $110 Million in Bipartisan Infrastructure Law Funding to Improve Safety and Efficiency at 71 Airports",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-110-million-bipartisan-infrastructure-law",
                date:"Mar 20, 2024" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration finalizes strongest-ever pollution standards for cars that position U.S. companies and workers to lead the clean vehicle future, protect public health, address the climate crisis, save drivers money",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-finalizes-strongest-ever-pollution-standards-cars-position",
                date:"Mar 20, 2024" 
            },
            {
                category:"BIL",
                agency:"Health and Human Services (HHS)",
                title:"Biden-Harris Administration Launches Clean Energy Connector to Bring Nearly $15 Million in Annual Energy Savings To Up To 40,000 Low-Income Households",
                link:"https://www.hhs.gov/about/news/2024/03/19/biden-harris-administration-launches-clean-energy-connector-bring-nearly-15-million-annual-energy-savings-40000-low-income-households.html",
                date:"Mar 19, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of the Interior",
                title:"Interior Department Makes $55 Million Available from President Biden’s Investing in America Agenda to Clean Up Orphaned Oil and Gas Wells on Tribal Lands",
                link:"https://www.doi.gov/pressreleases/interior-department-makes-55-million-available-president-bidens-investing-america",
                date:"Mar 15, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Announces More Than $16 Million Now Available to Advance Innovation in Clean Hydrogen",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-more-16-million-now-available-advance-innovation-clean-hydrogen",
                date:"Mar 15, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Agriculture (USDA)",
                title:"Biden-Harris Administration announces $145M from Investing in America agenda to help landowners access climate markets",
                link:"https://www.usda.gov/media/press-releases/2024/03/15/biden-harris-administration-announces-145m-investing-america-agenda",
                date:"Mar 15, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Announces Investments in Innovative Transportation Technology Projects",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-investments-innovative-transportation",
                date:"Mar 14, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of the Interior",
                title:"Biden-Harris Administration Announces $120 Million from President’s Investing in America Agenda to Enhance Climate Resilience in Tribal Communities",
                link:"https://www.doi.gov/pressreleases/biden-harris-administration-announces-120-million-presidents-investing-america-agenda",
                date:"Mar 14, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Delivers Over $265 Million for Local Water Infrastructure Projects Across New York State",
                link:"https://www.governor.ny.gov/news/governor-hochul-delivers-over-265-million-local-water-infrastructure-projects-across-new-york",
                date:"Mar 14, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces $750 Million to Support America’s Growing Hydrogen Industry as Part of Investing in America Agenda",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-750-million-support-americas-growing-hydrogen",
                date:"Mar 13, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Announces History-Making $3.3 Billion for Locally-Led Projects That Reconnect Communities as Part of President Biden’s Investing in America Agenda",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-history-making-33-billion-locally-led-projects",
                date:"Mar 13, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul and Syracuse Mayor Walsh Announce the I-81 Viaduct Project to Officially Receive $180 Million Under the Federal Reconnecting Communities and Neighborhoods Grant",
                link:"https://www.governor.ny.gov/news/governor-hochul-and-syracuse-mayor-walsh-announce-i-81-viaduct-project-officially-receive-180",
                date:"Mar 13, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Announces $102 Million Awarded to Niagara Frontier Transportation Authority for Rapid Transit Line",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-102-million-awarded-niagara-frontier-transportation-authority-rapid",
                date:"Mar 13, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Releases First-Ever National Strategy to Accelerate Deployment of Zero-Emission Infrastructure for Freight Trucks",
                link:"https://highways.dot.gov/newsroom/biden-harris-administration-releases-first-ever-national-strategy-accelerate-deployment",
                date:"Mar 12, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency",
                title:"EPA Expands Wastewater Infrastructure Program, Invites Rural Communities To Apply for Assistance",
                link:"https://www.epa.gov/newsreleases/epa-expands-wastewater-infrastructure-program-invites-rural-communities-apply",
                date:"Mar 12, 2024" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency",
                title:"45 states, large metro areas submit climate action plans under President Biden’s Inflation Reduction Act",
                link:"https://www.epa.gov/newsreleases/45-states-large-metro-areas-submit-climate-action-plans-under-president-bidens",
                date:"Mar 11, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Announces Nearly $4 Billion in Support for 14 Major Transit Construction Projects Across the U.S.",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-nearly-4-billion-support-14-major-transit",
                date:"Mar 11, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces MTA Signs ‘equity in Infrastructure Project’ Pledge to Support Historically Underutilized Businesses",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-mta-signs-equity-infrastructure-project-pledge-support-historically",
                date:"Mar 07, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Announces Funding Now Available to Support Electric School Bus Charging Infrastructure",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-funding-now-available-support-electric-school-bus-charging",
                date:"Mar 05, 2024" 
            },
            {
                category:"BIL",
                agency:"Federal Communications Commission (FCC)",
                title:"FCC Issues Formal Notice That April Is Final Full Month of ACP Program",
                link:"https://www.fcc.gov/document/fcc-issues-formal-notice-april-final-full-month-acp-program",
                date:"Mar 04, 2024" 
            }
            
            
           
        ]
    })
}}
</div>

<div class="collapse" id="fedguidance">
{{
    filtercard({
        heading:"Archive Federal Guidance Updates",
        archive: true,
        cards:[
            {
                category:"BIL",
                agency:"Federal Transit Administration (FTA)",
                title:"Biden-Harris Administration Announces Availability of $316 Million to Modernize Ferry Service and Better Connect Rural Communities",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-availability-316-million-modernize-ferry",
                description:"On April 17th, U.S. DOT’s Federal Transit Administration (FTA) announced the availability of $316 million to support and modernize passenger ferry service in communities across the country.",
                date:"Apr 17, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Interior",
                title:"Interior Department Finalizes Action to Ensure Fair Return to Taxpayers, Strengthen Accountability for Oil and Gas Operations on Public Lands",
                link:"https://www.doi.gov/pressreleases/interior-department-finalizes-action-ensure-fair-return-taxpayers-strengthen",
                description:"On April 12th, the Department of the Interior announced a final rule to revise the Bureau of Land Management’s (BLM) oil and gas leasing regulations, which will ensure a balanced approach to development, provide a fair return to taxpayers, and help keep drilling activities from conflicting with the protection of important wildlife habitat or cultural sites.",
                date:"Apr 12, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Agriculture",
                title:"USDA Makes $1.5 Billion Available to Help Farmers Advance Conservation and Climate-Smart Agriculture as Part of President Biden’s Investing in America Agenda",
                link:"https://www.usda.gov/media/press-releases/2024/04/03/usda-makes-15-billion-available-help-farmers-advance-conservation",
                description:"On April 3rd, the USDA announced the availability of an historic $1.5 billion in funding for Fiscal Year 2024 to invest in partner-driven conservation and climate solutions through the Regional Conservation Partnership Program (RCPP). ",
                date:"Apr 03, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"FRA Makes More Than $2.4 Billion in CRISI Grant Funding Available to Improve America’s Freight and Intercity Passenger Rail Network",
                link:"https://www.transportation.gov/briefing-room/fra-makes-more-24-billion-crisi-grant-funding-available-improve-americas-freight-and",
                description:"On March 29th, Federal Railroad Administration (FRA) issued a Notice of Funding Opportunity that makes available over $2.4 billion in Consolidated Rail Infrastructure and Safety Improvements (CRISI) Program funding.",
                date:"Mar 29, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Opens Applications for More than $5 Billion in Funding for Significant National Infrastructure Projects",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-opens-applications-more-5-billion-funding-significant",
                description:"On March 28th, the Department of Transportation announced that it is now accepting applications for approximately $5.1 billion in funding for projects of regional or national significance for three major discretionary grant programs",
                date:"Mar 28, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces $180 Million Investment in School Energy Infrastructure as Part of Investing in America Agenda",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-180-million-investment-school-energy-infrastructure",
                description:"On March 20th, the DOE opened applications for the 2024 Renew America's Schools Prize, which will award $180 million to districts across the country engaging in strategic partnerships to build capacity and implement energy upgrades at K-12 schools, lowering energy use and costs, improving indoor air quality, and fostering healthier learning environments.",
                date:"Mar 20, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration announces $24 million in pollution prevention grants under President’s Investing in America agenda",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-24-million-pollution-prevention-grants-under",
                description:"On March 18th, the EPA announced the availability of nearly $24 million in grants to support states, U.S. territories, and Tribes in providing technical assistance to businesses to develop and adopt pollution prevention practices.",
                date:"Mar 18, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"USDOT Announces $450 Million For Ports Available Through the Port Infrastructure Development Program ",
                link:"https://www.transportation.gov/briefing-room/usdot-announces-450-million-ports-available-through-port-infrastructure-development-0",
                description:"On March 12th, USDOT’s Maritime Administration (MARAD) published a Notice of Funding Opportunity (NOFO) for $450 million in Federal Fiscal Year 2024 funding through MARAD’s Port Infrastructure Development Program (PIDP).",
                date:"Mar 12, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Opens Applications for $1.2 Billion in Funding to Decrease Air Pollution from the Transportation Sector as Part of Investing in America Agenda",
                link:"https://highways.dot.gov/newsroom/biden-harris-administration-opens-applications-1-billion-funding-decrease-air-pollution",
                description:"On March 12th, the Federal Highway Administration (FHWA) launched the Low Carbon Transportation Materials Program, making $1.2 billion in funding available to lower air pollution, specifically greenhouse gas emissions (GHG), through reimbursement and incentive funding for low carbon construction materials and products used in transportation.",
                date:"Mar 12, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces $425 Million to Decarbonize and Manufacture Clean Energy Products in Former Coal Communities as Part of Investing in America Agenda",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-425-million-decarbonize-and-manufacture-clean-energy",
                description:"On March 8th, DOE announced the availability of $425 million in funding to reduce industrial emissions and advance clean energy manufacturing essential to the U.S. energy supply chain.",
                date:"Mar 08, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Takes Major Step to Boost Domestic Manufacturing in Transportation, Create Good-Paying American Jobs",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-takes-major-step-boost-domestic-manufacturing",
                description:"On March 7th, the U.S. Department of Transportation’s Federal Highway Administration (FHWA) announced a Notice of Proposed Rulemaking (NPRM) to discontinue its general waiver of Buy America requirements for manufactured products used in federal-aid highway projects.",
                date:"Mar 07, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Treasury",
                title:"U.S. Department of the Treasury, IRS Release Final Rules on Provisions to Expand Reach of Clean Energy Tax Credits Through President Biden’s Investing in America Agenda",
                link:"https://home.treasury.gov/news/press-releases/jy2157",
                description:"On March 5th, the U.S. Department of the Treasury and the Internal Revenue Service (IRS) released final rules on key provisions in the Inflation Reduction Act to expand the reach of the clean energy tax credits and help build projects more quickly and affordably, which will create good-paying jobs and lower energy costs for families.",
                date:"Mar 05, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation’s Federal Motor Carrier Safety Administration (FMCSA)",
                title:"Biden-Harris Administration Opens Applications for Over $180 Million in Safety Grants for Commercial Motor Vehicles",
                link:"https://www.fmcsa.dot.gov/newsroom/biden-harris-administration-opens-applications-over-180-million-safety-grants-commercial",
                description:"On March 4th, the U.S. Department of Transportation’s Federal Motor Carrier Safety Administration (FMCSA) announced the availability of more than $180 million in grants to promote roadway safety.",
                date:"Mar 04, 2024" 
            }
            
            
        ]
        

    })
}}
</div>