---
layout: render-layout.njk
---
{% from './_includes/_components.njk' import filtercard , button  %}

<style>
{% include './_includes/button/_button.css'  %}
{% include './_includes/filtercard/_filtercards.css'  %}
</style>

{{
    filtercard({
        heading:"Announcements",
        archive: false,
        cards:[
            {
                category:"",
                agency:"Joint Office of Energy and Transportation",
                title:"Behind-the-Meter Generation and Storage Offer Cost- and Energy-Efficient Route to Bus Electrification in New York, Potentially Saving $2 Million Each Year",
                link:"https://driveelectric.gov/news/mta-case-study",
                date:"Jun 13, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Treasury",
                title:"U.S. Department of the Treasury Announces More Than $1 Billion in Upfront Savings for Consumers on Electric Vehicle Sales",
                link:"https://home.treasury.gov/news/press-releases/jy2403",
                date:"Jun 12, 2024" 
            },
            {
                category:"BIL",
                agency:"Joint Office of Energy and Transportation",
                title:"Joint Office of Energy and Transportation and Linux Foundation Energy to Advance Electric Vehicle Charging Interoperability with EVerest Open-Source Platform",
                link:"https://driveelectric.gov/news/everest-open-source-platform",
                date:"Jun 11, 2024" 
            },
            {
                category:"",
                agency:"Governor",
                title:"Governor Hochul and Mayor Adams Announce Start of Construction on Transformation of South Brooklyn Marine Terminal Into Nation’s Largest Offshore Wind Hub",
                link:"https://www.governor.ny.gov/news/governor-hochul-and-mayor-adams-announce-start-construction-transformation-south-brooklyn",
                date:"Jun 10, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Unveils Application Guidelines for More Than $11 Million in ConnectALL Funding to Expand Broadband Access Ahead of Application Launch Later This Month",
                link:"https://www.governor.ny.gov/news/governor-hochul-unveils-application-guidelines-more-11-million-connectall-funding-expand",
                date:"Jun 06, 2024" 
            },
            {
                category:"IRA",
                agency:"The White House",
                title:"White House Holds Convening on Used Electric Vehicles and IRA’s 25E Tax Credit",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/06/05/readout-of-white-house-convening-on-used-electric-vehicles/",
                date:"Jun 05, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Housing and Urban Development",
                title:"HUD Finalizes Deal to Promote Energy Efficiency and Climate Resilience for New York Families",
                link:"https://www.hud.gov/press/press_releases_media_advisories/HUD_No_24_138",
                date:"Jun 05, 2024" 
            },
            {
                category:"",
                agency:"National Oceanic and Atmospheric Administration (NOAA)",
                title:"Biden-Harris Administration designates new national marine sanctuary in New York State",
                link:"https://www.noaa.gov/news-release/biden-harris-administration-designates-new-national-marine-sanctuary-in-new-york-state",
                date:"Jun 05, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Sends Every State Funding for Commercial Motor Vehicle Safety",
                link:"https://www.transportation.gov/briefing-room/part-dots-push-bring-traffic-deaths-zero-biden-harris-administration-sends-every",
                date:"Jun 03, 2024" 
            },
            {
                category:"BIL",
                agency:"Federal Communications Commission",
                title:"FCC Brings Affordable Connectivity Program to a Close",
                link:"https://docs.fcc.gov/public/attachments/DOC-402930A1.pdf",
                date:"May 31, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Highlights Over $120 Million for Local Water Infrastructure Projects Across New York State",
                link:"https://www.governor.ny.gov/news/governor-hochul-highlights-over-120-million-local-water-infrastructure-projects-across-new",
                date:"May 23, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces Nearly $10.5 Million Funding Opportunity to Plan Housing Near Transit",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-nearly-105-million-funding-opportunity-plan",
                date:"May 23, 2024" 
            },
            {
                category:"BIL",
                agency:"Joint Office of Energy and Transportation",
                title:"Joint Office of Energy and Transportation Releases Q2 2024 NEVI Quarterly Update",
                link:"https://driveelectric.gov/news/q2-2024-quarterly-nevi-update",
                date:"May 23, 2024" 
            },
            {
                category:"IRA",
                agency:"National Oceanic and Atmospheric Administration (NOAA)",
                title:"Biden-Harris Administration awards $20 million for regional fishery management council projects as part of Investing in America agenda",
                link:"https://www.noaa.gov/news-release/biden-harris-administration-awards-20-million-for-regional-fishery-management-council-projects",
                date:"May 21, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration Announces More Than $300 Million in Brownfield Grants Through Investing in America Agenda to Rehabilitate and Revitalize Communities",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-more-300-million-brownfield-grants-through",
                date:"May 20, 2024" 
            }
            
            
        ]
    })
}}

{{
    filtercard({
        heading:"Federal Guidance Updates",
        archive: false,
        cards:[
            {
                category:"IRA",
                agency:"Internal Revenue Service",
                title:"Treasury, IRS release guidance for the Energy Community Bonus Credit under the Inflation Reduction Act",
                link:"https://www.irs.gov/newsroom/treasury-irs-release-guidance-for-the-energy-community-bonus-credit-under-the-inflation-reduction-act",
                description:"On June 7, US Treasury and the IRS released guidance that taxpayers and Elective Pay participants may use to determine whether they meet certain requirements for purposes of qualifying for the Energy Community Bonus Credit.",
                date:"Jun 7, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Treasury",
                title:"U.S. Department of the Treasury, IRS Release Additional Guidance to Boost American Clean Energy Manufacturing",
                link:"https://home.treasury.gov/news/press-releases/jy2344",
                description:"On May 16, the U.S. Department of the Treasury and Internal Revenue Service (IRS) released additional guidance on the IRA’s domestic content bonus, part of President Biden’s economic strategy to boost American manufacturing and iron and steel production, so American workers and companies can continue to build the clean energy economy.",
                date:"May 16, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"FRA Makes More Than $2 Billion in New Funding Available to Continue Improving America’s Busiest Passenger Rail Corridor",
                link:"https://www.transportation.gov/briefing-room/fra-makes-more-2-billion-new-funding-available-continue-improving-americas-busiest",
                description:"On May 14, U.S. DOT’s Federal Railroad Administration (FRA) released a funding opportunity that makes available over $2 billion in Federal-State Partnership for Intercity Passenger Rail Program funding for projects located on the Northeast Corridor.",
                date:"May 14, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"Department of Energy Releases Final Interpretive Guidance on the Definition of Foreign Entity of Concern",
                link:"https://www.energy.gov/articles/doe-releases-final-interpretive-guidance-definition-foreign-entity-concern",
                description:"On May 3, the U.S. Department of Energy (DOE) finalized its guidance interpreting the statutory definition of “foreign entity of concern” (FEOC) in Section 40207 of the Bipartisan Infrastructure Law (BIL)",
                date:"May 03, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces Final Transmission Permitting Rule and Latest Investments To Accelerate the Build Out of a Resilient, Reliable, Modernized Electric Grid",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-final-transmission-permitting-rule-and-latest",
                description:"On April 25, the DOE issued a final rule to establish the Coordinated Interagency Transmission Authorizations and Permits (CITAP) Program, which aims to significantly improve Federal environmental reviews and permitting processes for qualifying transmission projects.",
                date:"Apr 25, 2024" 
            },
            {
                category:"IRA",
                agency:"Internal Revenue Service",
                title:"IRS releases final guidance on transfers of certain credits under the Inflation Reduction Act",
                link:"https://www.irs.gov/newsroom/irs-releases-final-guidance-on-transfers-of-certain-credits-under-the-inflation-reduction-act",
                description:"On April 25, the Department of Treasury and Internal Revenue Service issued final regulations describing rules and definitions for the transfer of eligible credits in a taxable year, including specific rules for partnerships and S corporations.",
                date:"Apr 25, 2024" 
            }
            
        ]
    })
}}


