---
layout: render-layout.njk
---
{% from './_includes/_components.njk' import filtercard , button  %}

<style>
{% include './_includes/button/_button.css'  %}
{% include './_includes/filtercard/_filtercards.css'  %}
</style>

{{
    filtercard({
        heading:"Announcements",
        archive: false,
        cards:[
            {
                category:"",
                agency:"The White House",
                title:"FACT SHEET: Biden-⁠Harris Administration’s Progress Creating a Future Made in America",
                link:"https://www.whitehouse.gov/briefing-room/statements-releases/2024/07/24/fact-sheet-biden-harris-administrations-progress-creating-a-future-made-in-america/",
                date:"Jul 24, 2024" 
            },
            {
                category:"",
                agency:"Governor",
                title:"Governor Hochul Requests Federal Emergency Declaration to Support Response and Recovery Operations Following Severe Weather on July 15 and 16",
                link:"https://www.governor.ny.gov/news/governor-hochul-requests-federal-emergency-declaration-support-response-and-recovery",
                date:"Jul 20, 2024" 
            },
            {
                category:"",
                agency:"The White House",
                title:"Catalyzing American Innovation in Climate Resilience",
                link:"https://www.whitehouse.gov/ceq/news-updates/2024/07/25/catalyzing-american-innovation-in-climate-resilience/",
                date:"Jul 25, 2024" 
            },
            {
                category:"BIL",
                agency:"Internet For All",
                title:"Biden-Harris Administration Opens Applications for $1 Billion Digital Inclusion Grant Program",
                link:"https://www.internetforall.gov/news-media/biden-harris-administration-opens-applications-1-billion-digital-inclusion-grant-0",
                date:"Jul 24, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces More Than $374 Million in Grants to Improve Airports ",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-more-374-million-grants-improve-airports",
                date:"Jul 26, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Start of $17.8 Million Rehabilitation Project on the Callicoon Bridge",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-start-178-million-rehabilitation-project-callicoon-bridge",
                date:"Jul 22, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Completion of $28.5 Million Project to Rehabilitate Bridges Along the Staten Island Expressway",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-completion-285-million-project-rehabilitate-bridges-along-staten",
                date:"Jul 22, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Environmental Protection Agency",
                title:"Biden-Harris Administration Announces $4.3 Billion in Grants for Community-Driven Solutions to Cut Climate Pollution Across America",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-43-billion-grants-community-driven-solutions-cut",
                date:"Jul 22, 2024" 
            },
            {
                category:"IRA",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Invests $371 Million in 20 Projects to Accelerate Transmission Permitting Across America",
                link:"https://www.energy.gov/articles/biden-harris-administration-invests-371-million-20-projects-accelerate-transmission",
                date:"Jul 24, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Agriculture",
                title:"Biden-Harris Administration announces $190M grant opportunity for payment programs that help private forest landowners address climate change",
                link:"https://www.usda.gov/media/press-releases/2024/07/25/biden-harris-administration-announces-190m-grant-opportunity",
                date:"Jul 25, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Announces More Than $7.1 Million in Urban and Community Forestry Grants to 23 Projects Statewide",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-more-71-million-urban-and-community-forestry-grants-23-projects",
                date:"Jul 25, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Environmental Protection Agency",
                title:"EPA Announces $3 Million for Community-Driven Solutions to Cut Climate Pollution Across the Hudson Valley in New York",
                link:"https://www.epa.gov/newsreleases/epa-announces-3-million-community-driven-solutions-cut-climate-pollution-across-hudson",
                date:"Jul 22, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Environmental Protection Agency",
                title:"EPA Announces Nearly $1 Million to Support Involving South Bronx Communities in Climate Resiliency Planning",
                link:"https://www.epa.gov/newsreleases/epa-announces-nearly-1-million-support-involving-south-bronx-communities-climate",
                date:"Jul 25, 2024" 
            },
            {
                category:"",
                agency:"U.S. Department of Housing and Urban Development",
                title:"Biden-Harris Administration Invests $325 Million in Housing and Community Development Improvements",
                link:"https://www.hud.gov/press/press_releases_media_advisories/HUD_No_24_182",
                date:"Jul 16, 2024" 
            },
            {
                category:"",
                agency:"Governor",
                title:"Governor Hochul Celebrates $50 Million Federal Choice Neighborhoods Grant to Support Up to 1,400 New Homes in Syracuse",
                link:"https://www.governor.ny.gov/news/governor-hochul-celebrates-50-million-federal-choice-neighborhoods-grant-support-1400-new",
                date:"Jul 16, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"Biden-Harris Administration Announces $5 Billion to Restore, Reconstruct, and Repair Nationally Significant Large Bridges Across the Country",
                link:"https://www.transportation.gov/briefing-room/investing-america-biden-harris-administration-announces-5-billion-restore-reconstruct",
                date:"Jul 17, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Agriculture",
                title:"Biden-Harris Administration Announces $90 Million in Innovative Projects that Help Conserve Natural Resources and Address Climate Change as Part of Investing in America Agenda",
                link:"https://www.usda.gov/media/press-releases/2024/07/18/biden-harris-administration-announces-90-million-innovative",
                date:"Jul 18, 2024" 
            },
            {
                category:"BIL",
                agency:"National Oceanic and Atmospheric Administration (NOAA)",
                title:"Biden-Harris Administration announces nearly $220 million for transformational habitat restoration and coastal resilience projects",
                link:"https://www.noaa.gov/news-release/biden-harris-administration-announces-nearly-220-million-for-transformational-habitat-restoration",
                date:"Jul 18, 2024" 
            },
            {
                category:"BIL",
                agency:"National Oceanic and Atmospheric Administration (NOAA)",
                title:"Biden-Harris administration invests $27 million to support community-driven marine debris solutions through Investing in America agenda",
                link:"https://www.noaa.gov/news-release/biden-harris-administration-invests-27-million-to-support-community-driven-marine-debris-solutions",
                date:"Jul 18, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Environmental Protection Agency",
                title:"EPA Seeks Community Input on Proposed Cleanup Plan for Eighteen Mile Creek Superfund Site in Niagara County, NY",
                link:"https://www.epa.gov/newsreleases/epa-seeks-community-input-proposed-cleanup-plan-eighteen-mile-creek-superfund-site",
                date:"Jul 19, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Start of $26.1 Million Flood Mitigation Project in Westchester County",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-start-261-million-flood-mitigation-project-westchester-county",
                date:"Jul 15, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Announces Award of Fourth Construction Contract for Transformative I-81 Viaduct Project in City of Syracuse",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-award-fourth-construction-contract-transformative-i-81-viaduct",
                date:"Jul 19, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Environmental Protection Agency",
                title:"EPA Announces $20.4 Million to Support Clean U.S. Manufacturing of Construction Materials Across New York, New Jersey, and Puerto Rico",
                link:"https://www.epa.gov/newsreleases/epa-announces-204-million-support-clean-us-manufacturing-construction-materials-across",
                date:"Jul 16, 2024" 
            },
            {
                category:"IRA",
                agency:"The White House",
                title:"CEQ Releases Recommendations on Digital Tools to Modernize Environmental Reviews, Increase Transparency and Accessibility of Federal Permitting",
                link:"https://www.whitehouse.gov/ceq/news-updates/2024/07/17/ceq-releases-recommendations-on-digital-tools-to-modernize-environmental-reviews-increase-transparency-and-accessibility-of-federal-permitting/",
                date:"Jul 17, 2024" 
            }
            
        ]
    })
}}

{{
    filtercard({
        heading:"Federal Guidance Updates",
        archive: false,
        cards:[
            {
                category:"IRA",
                agency:"U.S. Department of the Treasury",
                title:"U.S. Department of the Treasury, IRS Release Final Rules to Ensure Good-Paying Clean Energy Jobs, Expand Clean Energy Workforce As Part of President Biden’s Investing in America Agenda",
                link:"https://home.treasury.gov/news/press-releases/jy2413",
                description:"On June 18, the U.S. Department of the Treasury and the Internal Revenue Service (IRS) released final rules on prevailing wage and registered apprenticeship (PWA) requirements in the Inflation Reduction Act.",
                date:"Jun 18, 2024" 
            },
            {
                category:"IRA",
                agency:"Internal Revenue Service",
                title:"Treasury, IRS release guidance for the Energy Community Bonus Credit under the Inflation Reduction Act",
                link:"https://www.irs.gov/newsroom/treasury-irs-release-guidance-for-the-energy-community-bonus-credit-under-the-inflation-reduction-act",
                description:"On June 7, US Treasury and the IRS released guidance that taxpayers and Elective Pay participants may use to determine whether they meet certain requirements for purposes of qualifying for the Energy Community Bonus Credit.",
                date:"Jun 7, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of the Treasury",
                title:"U.S. Department of the Treasury, IRS Release Additional Guidance to Boost American Clean Energy Manufacturing",
                link:"https://home.treasury.gov/news/press-releases/jy2344",
                description:"On May 16, the U.S. Department of the Treasury and Internal Revenue Service (IRS) released additional guidance on the IRA’s domestic content bonus, part of President Biden’s economic strategy to boost American manufacturing and iron and steel production, so American workers and companies can continue to build the clean energy economy.",
                date:"May 16, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation",
                title:"FRA Makes More Than $2 Billion in New Funding Available to Continue Improving America’s Busiest Passenger Rail Corridor",
                link:"https://www.transportation.gov/briefing-room/fra-makes-more-2-billion-new-funding-available-continue-improving-americas-busiest",
                description:"On May 14, U.S. DOT’s Federal Railroad Administration (FRA) released a funding opportunity that makes available over $2 billion in Federal-State Partnership for Intercity Passenger Rail Program funding for projects located on the Northeast Corridor.",
                date:"May 14, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"Department of Energy Releases Final Interpretive Guidance on the Definition of Foreign Entity of Concern",
                link:"https://www.energy.gov/articles/doe-releases-final-interpretive-guidance-definition-foreign-entity-concern",
                description:"On May 3, the U.S. Department of Energy (DOE) finalized its guidance interpreting the statutory definition of “foreign entity of concern” (FEOC) in Section 40207 of the Bipartisan Infrastructure Law (BIL)",
                date:"May 03, 2024" 
            }
            
        ]
    })
}}


