---
layout: render-layout.njk
---
{% from './_includes/_components.njk' import filtercard , button  %}

<style>
{% include './_includes/button/_button.css'  %}
{% include './_includes/filtercard/_filtercards.css'  %}
</style>

{{
    filtercard({
        heading:"Announcements",
        archive: false,
        cards:[
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Announces $20 Million from Bipartisan Infrastructure Law to Modernize 20 Small and Regional Airport Traffic Control Towers Across the U.S.",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-20-million-bipartisan-infrastructure-law-0",
                date:"Mar 21, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Announces $110 Million in Bipartisan Infrastructure Law Funding to Improve Safety and Efficiency at 71 Airports",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-110-million-bipartisan-infrastructure-law",
                date:"Mar 20, 2024" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration finalizes strongest-ever pollution standards for cars that position U.S. companies and workers to lead the clean vehicle future, protect public health, address the climate crisis, save drivers money",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-finalizes-strongest-ever-pollution-standards-cars-position",
                date:"Mar 20, 2024" 
            },
            {
                category:"BIL",
                agency:"Health and Human Services (HHS)",
                title:"Biden-Harris Administration Launches Clean Energy Connector to Bring Nearly $15 Million in Annual Energy Savings To Up To 40,000 Low-Income Households",
                link:"https://www.hhs.gov/about/news/2024/03/19/biden-harris-administration-launches-clean-energy-connector-bring-nearly-15-million-annual-energy-savings-40000-low-income-households.html",
                date:"Mar 19, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of the Interior",
                title:"Interior Department Makes $55 Million Available from President Biden’s Investing in America Agenda to Clean Up Orphaned Oil and Gas Wells on Tribal Lands",
                link:"https://www.doi.gov/pressreleases/interior-department-makes-55-million-available-president-bidens-investing-america",
                date:"Mar 15, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Announces More Than $16 Million Now Available to Advance Innovation in Clean Hydrogen",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-more-16-million-now-available-advance-innovation-clean-hydrogen",
                date:"Mar 15, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Agriculture (USDA)",
                title:"Biden-Harris Administration announces $145M from Investing in America agenda to help landowners access climate markets",
                link:"https://www.usda.gov/media/press-releases/2024/03/15/biden-harris-administration-announces-145m-investing-america-agenda",
                date:"Mar 15, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Announces Investments in Innovative Transportation Technology Projects",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-investments-innovative-transportation",
                date:"Mar 14, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of the Interior",
                title:"Biden-Harris Administration Announces $120 Million from President’s Investing in America Agenda to Enhance Climate Resilience in Tribal Communities",
                link:"https://www.doi.gov/pressreleases/biden-harris-administration-announces-120-million-presidents-investing-america-agenda",
                date:"Mar 14, 2024" 
            },
            {
                category:"BIL",
                agency:"Governor",
                title:"Governor Hochul Delivers Over $265 Million for Local Water Infrastructure Projects Across New York State",
                link:"https://www.governor.ny.gov/news/governor-hochul-delivers-over-265-million-local-water-infrastructure-projects-across-new-york",
                date:"Mar 14, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces $750 Million to Support America’s Growing Hydrogen Industry as Part of Investing in America Agenda",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-750-million-support-americas-growing-hydrogen",
                date:"Mar 13, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Announces History-Making $3.3 Billion for Locally-Led Projects That Reconnect Communities as Part of President Biden’s Investing in America Agenda",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-history-making-33-billion-locally-led-projects",
                date:"Mar 13, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul and Syracuse Mayor Walsh Announce the I-81 Viaduct Project to Officially Receive $180 Million Under the Federal Reconnecting Communities and Neighborhoods Grant",
                link:"https://www.governor.ny.gov/news/governor-hochul-and-syracuse-mayor-walsh-announce-i-81-viaduct-project-officially-receive-180",
                date:"Mar 13, 2024" 
            },
            {
                category:"IRA",
                agency:"Governor",
                title:"Governor Hochul Announces $102 Million Awarded to Niagara Frontier Transportation Authority for Rapid Transit Line",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-102-million-awarded-niagara-frontier-transportation-authority-rapid",
                date:"Mar 13, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Releases First-Ever National Strategy to Accelerate Deployment of Zero-Emission Infrastructure for Freight Trucks",
                link:"https://highways.dot.gov/newsroom/biden-harris-administration-releases-first-ever-national-strategy-accelerate-deployment",
                date:"Mar 12, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency",
                title:"EPA Expands Wastewater Infrastructure Program, Invites Rural Communities To Apply for Assistance",
                link:"https://www.epa.gov/newsreleases/epa-expands-wastewater-infrastructure-program-invites-rural-communities-apply",
                date:"Mar 12, 2024" 
            },
            {
                category:"IRA",
                agency:"Environmental Protection Agency",
                title:"45 states, large metro areas submit climate action plans under President Biden’s Inflation Reduction Act",
                link:"https://www.epa.gov/newsreleases/45-states-large-metro-areas-submit-climate-action-plans-under-president-bidens",
                date:"Mar 11, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Announces Nearly $4 Billion in Support for 14 Major Transit Construction Projects Across the U.S.",
                link:"https://www.transportation.gov/briefing-room/biden-harris-administration-announces-nearly-4-billion-support-14-major-transit",
                date:"Mar 11, 2024" 
            }
            
            
        ]
    })
}}

{{
    filtercard({
        heading:"Federal Guidance Updates",
        archive: false,
        cards:[
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces $180 Million Investment in School Energy Infrastructure as Part of Investing in America Agenda",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-180-million-investment-school-energy-infrastructure",
                description:"On March 20th, the DOE opened applications for the 2024 Renew America's Schools Prize, which will award $180 million to districts across the country engaging in strategic partnerships to build capacity and implement energy upgrades at K-12 schools, lowering energy use and costs, improving indoor air quality, and fostering healthier learning environments.",
                date:"Mar 20, 2024" 
            },
            {
                category:"BIL",
                agency:"Environmental Protection Agency (EPA)",
                title:"Biden-Harris Administration announces $24 million in pollution prevention grants under President’s Investing in America agenda",
                link:"https://www.epa.gov/newsreleases/biden-harris-administration-announces-24-million-pollution-prevention-grants-under",
                description:"On March 18th, the EPA announced the availability of nearly $24 million in grants to support states, U.S. territories, and Tribes in providing technical assistance to businesses to develop and adopt pollution prevention practices.",
                date:"Mar 18, 2024" 
            },
            {
                category:"BIL",
                agency:"U.S. Department of Transportation (DOT)",
                title:"USDOT Announces $450 Million For Ports Available Through the Port Infrastructure Development Program ",
                link:"https://www.transportation.gov/briefing-room/usdot-announces-450-million-ports-available-through-port-infrastructure-development-0",
                description:"On March 12th, USDOT’s Maritime Administration (MARAD) published a Notice of Funding Opportunity (NOFO) for $450 million in Federal Fiscal Year 2024 funding through MARAD’s Port Infrastructure Development Program (PIDP).",
                date:"Mar 12, 2024" 
            },
            {
                category:"IRA",
                agency:"U.S. Department of Transportation (DOT)",
                title:"Biden-Harris Administration Opens Applications for $1.2 Billion in Funding to Decrease Air Pollution from the Transportation Sector as Part of Investing in America Agenda",
                link:"https://highways.dot.gov/newsroom/biden-harris-administration-opens-applications-1-billion-funding-decrease-air-pollution",
                description:"On March 12th, the Federal Highway Administration (FHWA) launched the Low Carbon Transportation Materials Program, making $1.2 billion in funding available to lower air pollution, specifically greenhouse gas emissions (GHG), through reimbursement and incentive funding for low carbon construction materials and products used in transportation.",
                date:"Mar 12, 2024" 
            },
            {
                category:"BIL",
                agency:"Department of Energy",
                title:"Biden-Harris Administration Announces $425 Million to Decarbonize and Manufacture Clean Energy Products in Former Coal Communities as Part of Investing in America Agenda",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-425-million-decarbonize-and-manufacture-clean-energy",
                description:"On March 8th, DOE announced the availability of $425 million in funding to reduce industrial emissions and advance clean energy manufacturing essential to the U.S. energy supply chain.",
                date:"Mar 08, 2024" 
            }
            
           
        ]
    })
}}


