---
layout: render-layout.njk
data: fundingsources
title: funding sources
---
{% from './_includes/_components.njk' import accordion with context%}


<style>
    {% include './_includes/accordion/_accordion.css'  %}
    </style>


{{
    accordion({
        title:"",
        headline:"Funding Forecast",
        multiselect: true,
        datadriven: true,
        items:""
    })
}}




