---
layout: layout.njk
data: fundingsources
---
{% from './_includes/_components.njk' import accordion with context%}


{# <style>
    {% include '../_includes/accordion/_accordion.css'  %}
    </style> #}


{{
    accordion({
        title:"something",
        headline:"Funding Sources",
        datadriven: true,
        items:""
    })
}}




