---
layout: render-layout.njk
---
{% from './_includes/_components.njk' import hero %}

<style>
{% include './_includes/hero/_hero.css'  %}
</style>

{{ hero({
    title: "Infrastructure News",
    headline:"Announcements & Federal Guidance Updates"
    })
}}