---
layout: render-layout.njk
---
{% from './_includes/_components.njk' import hero %}

<style>
{% include './_includes/hero/_hero.css'  %}
</style>

{{ hero({
    
    
    title: "Governor Hochul Announces Start of Project to Enhance Passenger Experience at Syracuse Hancock International Airport",
    description:"",
    date:"March 7, 2024",
     links: [
        {
            text:"Learn More",
            link:"https://www.governor.ny.gov/news/governor-hochul-announces-start-project-enhance-passenger-experience-syracuse-hancock",
            arialabel:"learn more about the the improvements at syracuse hancock international airport"
        },
        {
            text:"More Infrastructure News",
            link:"https://www.governor.ny.gov/keywords/infrastructure",
            arialabel:""
        }
    ]
    })
}}
