---
layout: render-layout.njk
---
{% from './_includes/_components.njk' import highlight %}

<style>
{% include './_includes/highlight/_highlight.css'  %}
</style>

{# {{
    highlight({
        color:"yellow",
        title:"More",
        heading:"Infrastructure News",
        description:"",
        buttoncard:[
            {
                linktext:"Visit the Governor's Website",
                link:"https://www.governor.ny.gov/keywords/infrastructure"
            }
            ]
    })
}} #}




{{
    highlight({
        color:"yellow",
        title:"Infrastructure",
        heading:"",
        description:"",
        buttoncard:[
            {
                heading:"Programs",
                description:"Infrastructure projects are funded through federal programs as well as the State's Capital Program and Financing Plan.",
                linktext:"Funding Overview",
                link:"https://infrastructure.ny.gov/pages/overview"
            },
            {
                heading:"Projects Map",
                description:"Explore the Projects Map to view key investments across the state. ",
                linktext:"View Dashboard",
                link:"https://infrastructure.ny.gov/pages/projects-map"
            },
            {
                heading:"Funding Opportunities",
                description:"Identify currently available federal grant opportunities that may help meet your infrastructure needs.",
                linktext:"Search Grants",
                link:"https://infrastructure.ny.gov/pages/funding-opportunities"
            }
            
            ]
    })
}}