---
layout: layout.njk
title: ESRI Infrastructure Header
---
{% from './_includes/_components.njk' import filtercard, card, button  %}








{{
    card({
        heading:"Heading",
        intro:"A sentence or two of text that gives the general idea of what this link goes to or the topic of the page.",
        cards:[
            {
                title:"First Card",
                content:"A sentence or two of text that gives the general idea of what this link goes to or the topic of the page.",
                link:"https://budget.ny.gov",
                image:"https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/2023-07/Wyandanch_Train_Station_1280.jpg?h=b5f6a62e&itok=QAM5iv6D",
                imagealt:"Office workers in a conference room having a collaborative working session"
            },
            {
                title:"Second Card",
                content:"A sentence or two of text that gives the general idea of what this link goes to or the topic of the page.",
                link:"https://budget.ny.gov",
                image:"https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/2023-07/Wyandanch_Train_Station_1280.jpg?h=b5f6a62e&itok=QAM5iv6D",
                imagealt:"Office workers in a conference room having a collaborative working session"
            },
            {
                title:"Third Card",
                content:"A sentence or two of text that gives the general idea of what this link goes to or the topic of the page.",
                link:"https://budget.ny.gov",
                image:"https://www.governor.ny.gov/sites/default/files/styles/card_vertical/public/2023-07/Wyandanch_Train_Station_1280.jpg?h=b5f6a62e&itok=QAM5iv6D",
                imagealt:"Office workers in a conference room having a collaborative working session"
            }
        ]
    })
}}



{{
    filtercard({
        heading:"Announcements",
        cards:[
            {
                category:"BIL",
                title:"Biden Administration Announces More Than $300 Million Available to Make Transit Stations Accessible for All",
                link:"https://www.transportation.gov/briefing-room/biden-administration-announces-more-300-million-available-make-transit-stations",
                date: "Dec 1, 2023",
                agency:"Department of Transportation (DOT)"
            },
            {
                category:"BIL",
                title:"Governor Hochul Announces $164 Million for Local Water Infrastructure Projects",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-164-million-local-water-infrastructure-projects",
                date: "Dec 7, 2023",
                agency:"Governor"
            },
            {
                category:"BIL",
                title:"Governor Hochul Announces $100 Million in Federal Funding Now Available for High-speed Broadband Infrastructure Through Affordable Housing Connectivity Program",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-100-million-federal-funding-now-available-high-speed-broadband",
                date: "Dec 6, 2023",
                agency:"Governor"
            }
        ]
    })
}}

{{
    filtercard({
        heading:"Federal Guidance Updates",
        cards:[
            {
                category:"BIL",
                agency:"department of energy (doe)",
                title:"Department of Energy Releases Proposed Interpretive Guidance on Foreign Entity of Concern for Public Comment",
                link:"https://www.energy.gov/articles/department-energy-releases-proposed-interpretive-guidance-foreign-entity-concern-public",
                description:"On December 1st, the U.S. Department of Energy released a notice of its proposed guidance and a request for public comment on its proposed interpretation of the statutory definition of “foreign entity of concern” (FEOC) in the Bipartisan Infrastructure Law, which is designed to limit the participation of FEOCs within government-supported domestic battery supply chains and bolster the growth of domestic and friend-shored battery materials processing and manufacturing.",
                date:"Dec 1, 2023" 
            },
            {
                category:"IRA",
                agency: "Internal Revenue Service (IRS)",
                title:"Treasury, IRS provide guidance for those who manufacture new clean vehicles",
                link:"https://www.irs.gov/newsroom/treasury-irs-provide-guidance-for-those-who-manufacture-new-clean-vehicles",
                description:"On December 1st, Department of the Treasury and the Internal Revenue Service issued two items of guidance on the excluded entity restriction of the section 30D clean vehicle credit, as amended by the Inflation Reduction Act.",
                date:"Dec 1, 2023" 
            }
        ]
        

    })
}}



{{
    button({
        buttons:[
            {
                title:"New York State Budget 2024",
                link:"https://www.governor.ny.gov/programs/fy-2024-new-york-state-budget"
            },
            {
                title:"2023 State of the State Book",
                link:"https://www.governor.ny.gov/sites/default/files/2023-01/2023SOTSBook.pdf"
            }
        ]
    })
}}