---
layout: layout.njk
title: ESRI Infrastructure Header
---

<!-- universal nav area -->
<nav class="navbar navbar-expand-lg">
  
      <div class="">
        <img src="https://static-assets.ny.gov/sites/all/themes/ny_gov/images/nygov-logo.png" alt="Logo">
        
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Government</a>
        </li>
    </ul>


</nav>



<nav class="navbar navbar-default navbar-static-top first-tier">
  <div class="container">
    <div class="navbar-brand">
      <div class="site-logo">
        <img src="https://static-assets.ny.gov/sites/all/themes/ny_gov/images/nygov-logo.png" alt="Logo">
        <h1>My Organization</h1>
      </div>
    </div>
  </div>
</nav>


<!-- global nav area -->
<nav class="navbar navbar-inverse navbar-static-top second-tier" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="container">
      <div class="navbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">News</a></li>
          <li><a href="">Projects Map</a></li>
          <li><a href="">Programs</a></li>
          <li><a href="">Resources</a></li>
          <li><a href="">Funding Opportunities</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

