---
layout: layout.njk
title: ESRI Infrastructure Header
---
{% from './_includes/_components.njk' import filtercard  %}

<div style="width: 1170px; margin:0 auto;">
<h3 class="nygov-filter-heading"> Announcements </h3>

{{
    filtercard({
        cards:[
            {
                category:"Bipartisan Infrastructure Law (BIL)",
                title:"Biden-Harris Administration Announces $3.5 Billion for Largest Ever Investment in America’s Electric Grid, Deploying More Clean Energy, Lowering Costs, and Creating Union Jobs",
                link:"https://www.energy.gov/articles/biden-harris-administration-announces-35-billion-largest-ever-investment-americas-electric",
                description:"",
                date:""
            }
        ]
        

    })
}}

</div>