.highlight-container {
    display: flex;
    width: 100%;
}

.bg-yellow {
    background-color: #face00;
}

.bg-blue {
    background-color: #154973;
}

.text-blue {
    color: #154973;
}

.text-black {
    color: #000;
}

.highlight-h2 {
    padding-top: 60px;
    display: block;
    width: 100%;
}

.highlight-title {
    font-family: Oswald, sans-serif;
    font-size: 0.65em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.highlight-heading {
    font-family: 'Figtree', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    text-align: center;
}