
.first-tier {
  height: 80px;
  margin-bottom: 4px;
  background-color: #fff;
  margin-left: 0px;
}

.first-tier .nav > li > a {
  margin-top: 5px;
  padding: 3px 6px;
  color: #000000;
}

.first-tier .nav > li > a:focus,
.first-tier .nav>li>a:hover {
  background-color: #fff;
  color: #000000;
}

.first-tier .site-logo img {
   /*vertical-align: middle;*/
  padding: -20px;
}

.first-tier h1 {
  display: inline;
  font-size: 25px;
  color: #000000;
}

.second-tier {
  margin-bottom: 0px;
  margin-left: 40px;
  background-color: #0B5583;
}

.site-header .navbar-header img {
  /*vertical-align: middle;*/
  height: 40px;
  padding: 10px;
}

@media (max-width: 768px) {
  .first-tier {
    height: 100px;
  }
}

@media (max-width: 498px) {
  .navbar-brand {
    padding: 0px;
  }
}

.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
