{{
    documents({
        headline:"",
        description:"",
        documents:[
            {
                link:"",
                text:"",
                type:"" 
            },
            {
                link:"",
                text:""
            }
        ]
    })
}}
{# type is either flickr or document #}

{# OMH list of languages for documents #}
documents:[
            {
                link:"",
                text:"English"
            },
            {
                link:"",
                text:"En Español (Spanish)"
            },
            {
                link:"",
                text:"简体 (Simplified Chinese)"
            },
            {
                link:"",
                text:"繁體 (Traditional Chinese) "
            },
            {
                link:"",
                text:"العَرَبِي (Arabic) "
            },
            {
                link:"",
                text:"বাংলা (Bengali) "
            },
            {
                link:"",
                text:"Kreyòl ayisyen (Haitian Creole)"
            },
            {
                link:"",
                text:"한국어 (Korean)"
            },
            {
                link:"",
                text:" Русский (Russian)"
            }




{{
    documents({
        headline:"988: Just the Facts",
        description:"",
        documents:[
            {
                link:"",
                text:"English"
            },
            {
                link:"",
                text:"En Español (Spanish)"
            },
            {
                link:"",
                text:"简体 (Simplified Chinese)"
            },
            {
                link:"",
                text:"繁體 (Traditional Chinese) "
            },
            {
                link:"",
                text:"العَرَبِي (Arabic) "
            },
            {
                link:"",
                text:"বাংলা (Bengali) "
            },
            {
                link:"",
                text:"Kreyòl ayisyen (Haitian Creole)"
            },
            {
                link:"",
                text:"한국어 (Korean)"
            },
            {
                link:"",
                text:" Русский (Russian)"
            }
            
        ]
    })
}}



{{
    documents({
        headline:"Social Media Graphics",
        description:"",
        documents:[
            {
                link:"",
                text:"English"
            },
            {
                link:"",
                text:"En Español (Spanish)"
            },
            {
                link:"",
                text:"简体 (Simplified Chinese)"
            },
            {
                link:"",
                text:"繁體 (Traditional Chinese) "
            },
            {
                link:"",
                text:"العَرَبِي (Arabic) "
            },
            {
                link:"",
                text:"বাংলা (Bengali) "
            },
            {
                link:"",
                text:"Kreyòl ayisyen (Haitian Creole)"
            },
            {
                link:"",
                text:"한국어 (Korean)"
            },
            {
                link:"",
                text:" Русский (Russian)"
            }
            
        ]
    })
}}

